[2020-03-13 16:40] hyiger opened #4 "TornadoVM::dumpProfiles has incorrect printf format specifier"
[code]

To reproduce: runBenchmarks.sh

profile.getExecutionTime() returns a long but the format specifier is for a float

[code]

[2020-03-14 07:14] jjfumero commented on #4
Thank you @hyiger .

We will fix that plus we will document some of the variables we need to set up for this script.

We normally use the `tornado-benchmarks.py` for benchmarking. See documentation [here](https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/4_BENCHMARKS.md)

[2020-03-14 16:26] hyiger opened #5 "Bitset benchmarks failing - MBP 16 MacOS 10.15.3, TornadoVM SDK 0.6, GraalVM Java 8 19.3.0"
[code]

Environment vars:
[code]

[code]

Stack trace:
[code]

[2020-03-14 16:27] hyiger commented on #5
All the bitset benchmarks fail, all others successful.

[2020-03-14 17:56] jjfumero commented on #4
This is now fixed: https://github.com/beehive-lab/TornadoVM/commit/8b147edfa16eb0716badb4a591604474c717c774

[2020-03-14 17:56] #4 closed

[2020-03-16 09:54] jjfumero commented on #5
Thank you @hyiger for reporting this. We just pushed a fix.

[2020-03-16 09:54] #5 closed

[2020-05-05 17:25] jjfumero opened #11 "Fix TornadoVM crashes when no OpenCL devices are available"
When there are no OpenCL devices available, throw an exception, and inform the user that an OpenCL device is required.

Execute the following command to obtain a full list of OpenCL devices:

[code]

[2020-05-05 17:28] jjfumero opened #12 "Regulate the amount of memory depending on the current target device present in the system for the unittests"
Some of the unittests consume a lot of memory (on purpose). Regulate the amount of memory depending on the current target device that is present in the system.

By default, TornadoVM allocates a heap of 1GB on the target device. Therefore, it assumes the device has at least 1GB. Regulate the space to be allocated if the memory available on the target device is less than the default value (e.g., by

[2020-05-05 17:31] jjfumero opened #13 "Port all python scripts from version 2 to 3"
Since Python 2.7 is no longer supported, rewrite all python script to use Python 3.X instead of 2.X.

[2020-05-05 17:34] jjfumero opened #14 "Develop use-cases for TornadoVM"
The TornadoVM repository contains a module with several `examples`. Include more use cases for acceleration with TornadoVM, such as a graphical version for NBODY, filter for photography, block-chain. etc.

[2020-05-21 09:52] gkatev opened #15 "Generated Kernel is NULL"
Hello,
In a fresh git clone, I'm getting the following error when I run "make tests":

[code]

And also more similar output for the rest of the unittests.
Also, on a simple test program of mine, adapted from the testHello unittest:

[code]

'tornado --devices' shows:

[code]

[2020-05-21 10:19] jjfumero commented on #15
Hi, can you run the following command?

[code]

Additionally, we have tested on AMD using the ROCM drivers. We support from OpenCL 1.2 (I am not sure if that's the issue). Is it possible to update the drivers for your AMD?

[2020-05-21 10:51] gkatev commented on #15
Okay, so I got a useful error:
[code]
A similar error also appears in clinfo, and from some searching it's possible that Navi 10 is not yet supported by mesa-opencl (?).
I'm currently educating myself on different frameworks related to OpenCL on AMD and seeing what is possible at the current time with this specific GPU.

[2020-05-21 11:57] jjfumero commented on #15
Yes, it looks like an installation/configuration problem with OpenCL.

[2020-05-21 12:41] gkatev commented on #15
Yes exactly. I'll see if I can fix it for my Navi 10 or use another GPU...
Thanks for the support

[2020-05-21 12:41] #15 closed

[2020-05-21 20:34] cosmicdan opened #16 "Plans for Windows support?"
Hi,

Loving the project - something I've been looking for a long time to learn GPGPU programming. I'm very surprised it took me so long to hear about the work you guys have done.

I have a (long-term) goal to use TornadoVM for development of a videogame and simulations (I'm only a hobbyist for now, nothing commercial) so naturally I'm curious if there's any plans to bring Tornado to Windows since

[2020-05-22 06:41] jjfumero commented on #16
Hi,
  This is something we haven't looked yet.  We do support Linux and OSx. However, since TornadoVM 0.6, we can also run with Graal 19.3 and JDK 11, and I think that combination could allow us to run on Windows (with a bit of tune from the bash scripts), but we haven't checked. This is in our future plans (long term).

[2020-05-22 06:55] cosmicdan commented on #16
Thanks Juan, I'm quite satisfied with that as I wont targeting the Windows platform for a short while either.

If I do end up getting bored one day and experiment with Windows before you guys get to it, I'll report my findings here - since you made it sound quite trivial there. I was mostly worried about natives not being ported to Windows - not the case here? I admit I've not examined the TVM sta

[2020-05-22 07:15] jjfumero commented on #16
Thank you,
  there are few parts with some dependencies like `cmake` to compile the JNI part of TornadoVM. But I think there is a binary for Windows.

We do plan to add support for Graal 20.0. Stay tuned!

[2020-06-12 15:15] vtschouten97 opened #20 "Runtime error: Generated Kernel is NULL"
Hello TornadoVM team!

I'm in the process of implementing a branch-and-bound algorithm in TornadoVM.
It seems like all my TaskSchedules report that the generated kernel is null, and I haven't found a way to resolve it yet.

The first TaskSchedule is called as follows:
new TaskSchedule("Internal-UB-SV13-Calculation") //
.streamIn(ratios) //	.task("taskSV13",ParallelBBModel::loopInternalSV13,interna

[2020-06-12 15:22] jjfumero commented on #20
Can you provide the `loopInternalSV13` method?

It looks to me there is a problem to get the final OpenCL code/

Also, can you report the generated kernel? You can use `--printKernel`

There is also an option `-Dtornado.fullDebug=True` that enables all Debug info, including the JIT compiler and runtime traces.

[2020-06-12 15:35] stratika commented on #20
Hi @vtschouten97, have you tried the unit-tests by running `make tests`? If they work, then the problem must be related to the method that you pass in your TaskSchedule, or the parameters in your TaskSchedule. As @jjfumero mentioned, it would be nice to have some information about the method that you compile and the command that you run your program.

[2020-06-12 15:45] vtschouten97 commented on #20
A couple of weeks ago I did run a unit-test and it seemed to work fine. But now that you mention it, I've tried to run the tests again and it' s not passing all the tests. It's failing for the majority of them...

[2020-06-12 15:52] jjfumero commented on #20
Can you recompile TornadoVM with the latest version in the `master` branch? Also, can you report the `tornado --devices` ? Minimum required is a device with OpenCL 1.2

[2020-06-12 16:04] vtschouten97 commented on #20
After recompiling with newly cloned directory of TornadoVM, tornado -- devices shows this:

Number of Tornado drivers: 1
Total number of devices  : 2
Tornado device=0:0
	NVIDIA CUDA -- GeForce RTX 2060
		Global Memory Size: 5.8 GB
		Local Memory Size: 48.0 KB
		Workgroup Dimensions: 3
		Max WorkGroup Configuration: [1024, 1024, 64]
		Device OpenCL C version: OpenCL C 1.2

Tornado device=0:1
	Intel

[2020-06-12 16:33] jjfumero commented on #20
When running the unittests, the file `tornado_unittests.log` is generated with all the report. Can you share this file?

If you run `make graal-jdk-8`, your JDK should be `graalvm-ce-java8-19.3.0`
Also Python 2.7 is required.

[2020-06-12 16:54] vtschouten97 commented on #20
I've installed graalvm-ce-java8-19.3.0 as explained in the installation guide.
Pyhton should be okay now:
python2.7 --version: Python 2.7.18
I've added the unit-test log file.

[tornado_unittests.log](https://github.com/beehive-lab/TornadoVM/files/4772132/tornado_unittests.log)

[2020-06-12 18:13] jjfumero commented on #20
@vtschouten97 this is very strange. All unittests should pass.

 Which OS are you running?
The master branch has been tested on:
* Ubuntu 18, 20
* CentOS 7.4 - 7.8
* Mac OSx

Since the unittests are not passing, I think your issue is related to the TornadoVM configuration.

BTW, CMake has to be >= 3.6 (See pre-requisites here) https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/

[2020-06-12 19:59] vtschouten97 commented on #20
I'm running Ubuntu 20.04 LTS. As mentioned before, my cmake is version 3.16.3, so that shouldn't be the problem. I assume the above code belongs in the sources.env file. The commands regarding cuda are not mentioned in the installation guide.

The curious thing is I was able to perform a benchmark some weeks ago and it showed me the speedup TornadoVM had realised using the GPU. I think I'll try to

[2020-06-12 21:15] stratika commented on #20
It seems to be a mis-configuration with the settings, the unit-tests should not fail. I would try to install tornado and graal from scratch, instead of directly installing Ubuntu again.

To clarify your questions, the variables are in the sources.env file and the cuda paths are not required.

[2020-06-12 21:39] vtschouten97 commented on #20
I will tinker around a bit in the coming days and will let you know what the progress is. I thank you all for the swift responses!

[2020-06-13 15:59] vtschouten97 commented on #20
I've had a bit of struggle getting Ubuntu to run as I want it to, but it's working now. Unit tests all pass and my code does not give errors now. It does seem though that at one point the program just stops running, yet it does not give an error. Does this maybe have something to do with heap memory or the like?

This is what is displayed when I run my sequential code:
Loading dataset...
Dataset l

[2020-06-15 08:30] jjfumero commented on #20
@vtschouten97 , a side note. The number of task-schedules to be instantiated per application is limited to the amount of memory available on the target device. We are working on it to print this in the debug information. If possible, try to reuse task-schedules. You can copy new data by using the calls `streamIn` and `streamOut`.

[2020-06-21 08:35] jjfumero commented on #12
Merged in #18

[2020-06-21 08:35] #12 closed

[2020-06-21 08:35] jjfumero commented on #11
Merged in #19

[2020-06-21 08:35] #11 closed

[2020-06-22 17:04] vtschouten97 commented on #20
Hello all, I am back again with a small question.

I've added the code to make my question more clear. The TaskSchedule is working, but when I try to reuse it it doesn't seem to update some input/output. I've played around with streamIn and streamOut but I keep getting the same results. The code is quite simplistic, but I'll elaborate a bit. There is a loop in which the TaskSchedule is executed, a

[2020-06-22 17:22] stratika commented on #20
Hi, the code seems to be compiling correctly. As a first remark, I would say that `streamIn` and `streamOut` do not need to be invoked in every iteration but it should not be a problem.

I have a question, if you run it once, does it return the correct results?

It would be better if you could provide with your main method and the exact test you run, in order to be able to reproduce your case.

Be

[2020-06-22 17:39] vtschouten97 commented on #20
It's a project containing multiple source files, as requested I've everything needed to run it. The java class of interest is ParallelBBModel.java, where the code snippet I posted can be found at line 114, and the function is called at line 87. The Main class should be called to run the project, after which you'll get a couple of prompts. Concerning the dataset, enter R1; then for the branch-and-b

[2020-06-22 19:52] stratika commented on #20
Can you please provide some information how do you run the program? what are the input arguments? I see a menu that asks for information but there is only one file in the data directory with name `BPPC_1_0_1.txt_0.1.`

[2020-06-22 20:14] vtschouten97 commented on #20
It's a Java project for a branch-and-bound algorithm. The data file is unimportant for the TaskSchedule, it merely contains a problem instance for a Knapsack Problem with Conflict Graph. The menu is to choose a specific branch-and-bound algorithm, as there are multiple implementations. If you follow the instructions I posted above when running the main java class, you'll end up in the ParallelBran

[2020-06-22 21:52] stratika commented on #20
Hi Viktor,

At first I had a problem with the relative path that in my laptop resulted in `NullPointerException` for the listed files in the directory.

Then, I noticed that the menu option and the second input from the terminal matter. Especially, the second input as the first choice: _**- 0 for SV13**_, is executed ok and it does not seem to invoke the method that is forwarded to TornadoVM.

In

[2020-06-22 23:38] vtschouten97 commented on #20
Eventhough it is becoming quite late now, I've extracted the following from my code. I would like to say, I have not encountered any NullPointerException in my endeavours.

This is the first message which came up when ts.execute() was called.
ERROR] clEnqueueReadBuffer, code = -5
uk.ac.manchester.tornado.drivers.opencl> notify error:
uk.ac.manchester.tornado.drivers.opencl> CL_OUT_OF_RESOURCES err

[2020-06-23 09:23] stratika commented on #20
Hi Viktor, I will have a closer look today and will email you to arrange a chat.

[2020-06-23 11:58] jjfumero commented on #20
We are not able to reproduce the error, as you described. I suggest providing a **simple test-case** that is simpler to test and to spot the bug.

One issue we found (not relevant to TornadoVM) is that you are launching kernels on the GPU with ~70 threads. Try to increase the number of threads to run.

We also found another set of problems in TornadoVM from this use case:
* Kernel is serialized wh

[2020-06-24 14:06] vtschouten97 commented on #20
With some tips from Thanos I've adjusted the code a bit, unfortunately something is still going wrong.
I've made a simple test-case, which I've included in this message.
To clarify the method, it is a dynamic programming algorithm for the 0-1 knapsack problem.
The test-case prints for each item iteration the TaskSchedule output and sequential output.
There it shows that for the first iteration the

[2020-06-25 06:43] jjfumero commented on #20
I suggest you create a repository with this use case, so it is easy to comment on changes.

I did minor modifications, you don't need all data stream-in, since you only modify a two of the arrays:

[code]

I am getting this output

[code]

It seems to be correct.

As I already commented, the kernel is being compiled and executed with OpenCL. However, it is a sequential kernel due to a bug in Torna

[2020-06-25 06:58] jjfumero opened #21 "[Support] Parallelize loops with constant values as loop-bounds"
Currently, TornadoVM only parallelizes loops in which loop bounds are taken as array-length.
Add support for constant-values.

[code]
To support this, the compiler phases `TornadoAutoParalleliser` and `TornadoParallelScheduler` need to be updated.
This change also influences the batch processing, in which loop-bounds need to be updated according to the batch size.
This change will also provide a s

[2020-06-25 10:27] vtschouten97 commented on #20
The output you show is incorrect in the context of having the desired value as output. But taking your adjustments into account and modifying the code further, I think it works now! Cloning of the array was likely to be the culprit, but it is necessary to have the outputDP function as an input in the following iteration, so I've played around a bit. I've added the final version of the TestCase pro

[2020-06-25 10:31] jjfumero commented on #21
The issue was that for loops such as:

[code]

The constant value is evaluated and rescheduled. The `TornadoTaskSpecialization` expects the loop bounds attached to the `ParallelRangeNode` instead of the conditional node.

The proposed change is as follows:

![Screenshot from 2020-06-25 12-29-46](https://user-images.githubusercontent.com/5602565/85703480-b04cb200-b6df-11ea-93c1-9d165b86a205.png)

P

[2020-06-26 12:45] jjfumero commented on #21
Fixed in #22

[2020-06-26 12:45] #21 closed

[2020-06-30 17:10] stratika opened #24 "MonteCarloDynamic kernel failing on the Xilinx FPGA"
**Describe the bug**
I noticed a problem with the Montecarlo kernel in the dynamic package for all the sizes, when executing on the Xilinx KCU1500 FPGA. There is no error in the compilation, but the kernel does not finish and it causes failures at the driver level regarding the dma. The problem seems like this:
[code]
This problem occurs only on the Xilinx KCU1500 FPGA. The Intel Nallatech Arria 1

[2020-07-01 07:08] jjfumero commented on #24
Thank @stratika. Do you think the issue is the `FMA` instruction? This is supported from OpenCL 1.0

https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/fma.html

Can you substitute the `fma` to use separate instructions instead? Just to double-check that is the problem.

Apart from that, the changes:
a) OpenCL frame: should not affect
b) Private memory allocation for arrays: this might

[2020-07-01 08:45] jjfumero opened #25 "Return flatten arrays from TornadoVM custom types"
Return the internal primitive array to the user for the custom types such as `ImageByte2`, `ImageByte3`, etc.

[2020-07-01 08:46] jjfumero opened #26 "Support a generic kernel (without specialization) for generic block/grid size."

[2020-07-01 11:16] stratika commented on #24
I have made the following change in the kernel that causes the problem and tested it in the AoT mode.
I replaced:  ```f_27  =  fma(f_16, f_16, f_26);``` with:
[code]

This kernel works and this is the result:
[code]

So, it seems that since the Xilinx compiler did not result in any failures during compilation, the problem occurs at runtime and in particular in the Xilinx driver that comes with _Xi

[2020-07-01 11:57] jjfumero commented on #24
Thank Thanos. You can report this issue to the Xilinx OpenCL runtime.

[2020-07-02 07:20] jjfumero commented on #24
I added a flag to disable this optimization. It is enabled by default.

https://github.com/beehive-lab/TornadoVM/pull/28

[2020-07-02 11:57] jjfumero opened #30 "[DOC] Update and complete Javadoc for the TornadoVM-API"
Update the existing Javadoc and complete with the latest features in the TornadoVM API.

This involves:
 * TornadoVM API types
 * TornadoVM Task-Schedule API
 * TornadoVM Annotations
 * TornadoVM Runtime API

[2020-07-07 11:21] mikepapadim opened #31 "Extend the API with missing Vector Types"
Currently the TornadoVM API provides limited support for vector types.
In the current state, the following vector types are supported:

- VectorFloat3
- VectorFloat4

Extending the API to provide support for a number of vector types can allow us the following. 1) to be able to generate code and IR using vector types, so we can access the performance benefits of using auto-verctorization with torna

[2020-07-13 18:32] stratika commented on #24
Just an update, I tried to reproduce the issue in the AWS EC2 F1 instance with AMI Version: 1.6.0. This instance uses SDAccel 2018.3, with a different driver. The problem did not occur, this is the log with the printed kernel:

[code]

[2020-07-13 18:33] stratika commented on #24
I think this issue can be closed.

[2020-07-13 18:33] #24 closed

[2020-08-10 13:39] mikepapadim commented on #31
Fixed with #32

[2020-08-10 13:39] #31 closed

[2020-08-11 11:31] #25 closed

[2020-09-02 17:03] vtschouten97 commented on #20
I haven't thought about posting here since I managed to get everything working properly, but I would like to thank you for the support you all have given me. In case you're interested in a branch-and-bound algorithm implemented with TornadoVM, I've added my thesis to this message. Cheers!

[Bachelor_Thesis_449249_FINAL.pdf](https://github.com/beehive-lab/TornadoVM/files/5163697/Bachelor_Thesis_449

[2020-09-02 17:22] stratika commented on #20
Thank you very much @vtschouten97! Congratulations!

[2020-09-03 05:22] #20 closed

[2020-09-09 07:11] jjfumero opened #33 "[FEAT] Disable deoptimizations when running unittests"
Add an option to disable automatic deoptimizations and use the new option when running the unittests.

[2020-09-17 08:21] jjfumero opened #34 "Throw an exception when having tasks within the same task-schedule with the same name"
Task-names are unique strings within the Task-Schedules. This is used for scheduling across different devices.

Currently, there is no check to guarantee that tasks should have different names.

[code]

[2020-09-17 13:45] jjfumero opened #35 "Add Javadoc and document the examples in TornadoVM"
Add Javadoc to document the examples in TornadoVM.

This affects the packages under the `examples` module:

https://github.com/beehive-lab/TornadoVM/tree/master/tornado-examples/src/main/java/uk/ac/manchester/tornado/examples

The documentation is at the class-level and it will contain a description of how the TornadoVM API is used for each example. Additionally, it contains how to run the example

[2020-09-25 06:54] jjfumero commented on #26
This is now supported:

https://github.com/beehive-lab/TornadoVM/commit/6191720fd947d3102e784dade9e576ed8af11068

[2020-09-25 06:54] #26 closed

[2020-09-25 06:58] jjfumero commented on #33
This is now supported:

https://github.com/beehive-lab/TornadoVM/commit/c20062d87ac28fab454178f8a4afb83d8974c4bf

Use the option: `-Dtornado.recover.bailout=False`

[2020-09-25 06:58] #33 closed

[2020-10-01 11:56] luisa01-code commented on #35
Hi! I could try to do that, if you'd like 😄

[2020-10-01 12:08] stratika commented on #35
Hi @luisa01-code, that would be very nice. Feel free to open a PR, thank you.

[2020-10-17 04:54] jjfumero commented on #13
This is now done by @gigiblender.

[2020-10-21 08:37] gigiblender commented on #13
@jjfumero I think this can also be closed

[2020-10-21 14:20] jjfumero commented on #13
Update here: https://github.com/beehive-lab/TornadoVM/commit/d55e3de1d73d5c0c0635f03fb6f51d9713c0f12a

[2020-10-21 14:20] #13 closed

[2020-10-24 12:25] yijunwu opened #39 "Support Kotlin"
I would like Tornado to support Kotlin. The reason behind that is:
. Kotlin is expressive and concise, hence a good fit for data intensive / machine learning tasks, better fit than Java
. Kotlin is JVM language, might be relatively easy to support given Java is already supported

[2020-10-27 11:22] jjfumero commented on #39
Hi @yijunwu.
 We haven't tried to execute from Kotlin yet. Compilation in TornadoVM is from Java bytecode. However, the computation must be expressed in Java because TornadoVM exposes an API for parallel and heterogeneous programming. It would be possible to run Kotlin and call Tornado code from it.

So far, we have tried R, Ruby, Javascript, and NodeJS, using the Truffle Framework (https://github

[2020-12-07 15:16] sirinath opened #42 "Can the whole repo be shared with ASL2.0/MIT"
**Is your feature request related to a problem? Please describe.**
Can part which is GPL be relicensed under ASL2.0/MIT

**Describe the solution you'd like**
Whole repo under ASL2.0/MIT

[2020-12-07 15:19] sirinath opened #43 "Join a Foundation like ASF"
Many research projects do not have continuity.

Joining a foundation like ASF may help the long term stability and viability of TornadoVM

[2020-12-08 11:08] jjfumero commented on #42
Hi @sirinath.

No, currently it cannot be re-licensed. TornadoVM extends the GraalVM JIT compiler (which is also GPLv2). Therefore, the TornadoVM JIT compiler is also GPLv2.

[2020-12-08 11:09] jjfumero commented on #43
TornadoVM cannot join Apache Foundation due to its license. Part of the project is under the GPLv2 (e.g., the JIT compiler, and the runtime system).

[2020-12-08 11:38] sirinath commented on #42
GraalVM has assembly exception. So other than modification of the GraalVM itself can be relicensed.

[2020-12-08 11:41] sirinath commented on #43
There is Eclipse Foundation, Linux Foundation, Cloud Native Computing Foundation, etc.

[2020-12-08 11:48] kotselidis commented on #43
We are currently exploring different options regarding joining a foundation. Hopefully, during 2021 we will be in position to announce any taken decisions.

[2020-12-08 11:48] kotselidis commented on #42
TornadoVM modifies the Graal compiler (some optimisations at least) hence the GPL inheritance.

[2020-12-08 11:54] sirinath commented on #42
Maybe the GPL+CE can be limited to the modified part which perhaps can be isolated into a sperate module (say `Tornado-graalvm`) while Tornado specific code can be separately licensed.

[2020-12-08 11:57] kotselidis commented on #42
Yes, we are currently looking into it.

[2021-01-10 12:05] hmf commented on #43
Or cerate your own :-)

[2021-01-14 00:18] vsilaev commented on #16
I was able to compile graal-jd8 and graal-jdk11 on Windows 10 Pro x64 with MingW64 and minor changes. I guess, any Win7+ x64 will work.

I've started with [v0.8](https://github.com/beehive-lab/TornadoVM/tree/v0.8), and noticed that code was upgraded to C++ version of JNI libs recently. So the patches should be cherry-picked later. Obviously, if project maintainers will find them useful.

Attached

[2021-01-14 07:12] jjfumero commented on #16
Thank you @vsilaev . This is great. Did you try the unittests?

[code]

Additionally, I suggest opening a PR, so it is easy for us to track. If possible, it would be good to add documentation of all dependencies and install process here:
https://github.com/beehive-lab/TornadoVM/tree/master/assembly/src/docs

Regarding the PTX backend profile, @gigiblender can help here.

[2021-01-14 08:37] vsilaev commented on #16
Juan,

I've tried a lot of examples - all works as expected. I have just re-run test suit: 327 tests passed, 4 ones failed (all failed tests are related to VirtualDevice).

![tests](https://user-images.githubusercontent.com/3337603/104564737-551ee480-565c-11eb-9d61-4f2ffb9da1d5.png)

I will add textual description here first, then I will create separate PR.

Btw, your C code is absolutely portable

[2021-01-14 08:45] jjfumero commented on #16
I think those unittests are expected to fail. We check with a pre-defined output.

When we run the unittests, we create a log file `tornado_unittests.log`. You can send this log to us.

Good to know the code is portable. Hope we can get the same with the C++ port.

[2021-01-14 08:48] vsilaev commented on #16
[tornado_unittests.log](https://github.com/beehive-lab/TornadoVM/files/5813296/tornado_unittests.log)
Here is the full test log.

[2021-01-14 10:50] gigiblender commented on #16
@vsilaev the way we currently build Tornado with the PTX backend enabled is by running `make BACKEND=ptx`. You can also have both backends enabled (eg: `make BACKEND=opencl,ptx`).
If you use a different JDK distribution than the default, then the build command line becomes, for example, `make graal-jdk-11 BACKEND=ptx,opencl`

If you have the time, do you mind sharing with us the output of building

[2021-01-14 11:09] vsilaev commented on #16
@gigiblender
I have [NVIDIA CUDA Toolkit](https://developer.nvidia.com/cuda-downloads?target_os=Windows&target_arch=x86_64&target_version=10) installed.
But CUDA doesn't add any folders to default (USER/SYSTEM) `PATH` on Windows. Instead, it creates separate ENV variables - probably they are supposed to be added to the `PATH`.

I do run `make graal-jdk-8 BACKEND={ptx,opencl}` but only `opencl` bui

[2021-01-14 11:40] vsilaev commented on #16
I even make `ptx-backend` profile in corresponding `pom.xml` (from drivers) as active by default - still nothing...

[2021-01-14 11:55] gigiblender commented on #16
@vsilaev, you should not use the curly brackets in the build command. `make graal-jdk-8 BACKEND=opencl,ptx` should work. If it doesn't, then this is something that breaks on windows only and must be looked into.

[2021-01-14 12:50] vsilaev commented on #16
Well, actually brackets are mentioned in the current documentation - [Install with Graal VM](https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/10_INSTALL_WITH_GRAALVM.md).

Removing them indeed helps!
I build successfully PTX-only backend and re-run tests. Here are the results:
[tornado_unittests (ptx).log](https://github.com/beehive-lab/TornadoVM/files/5814469/tornado_unittes

[2021-01-15 09:09] jjfumero commented on #16
It seems the error is related to the format of the file. Probably because of the end of the line in Windows. We will fix this.

[2021-01-15 11:19] vsilaev commented on #16
The most recent patch to enable build on Windows x64:
[0001-Enable-MingW64-build-on-windows-fi-Unixx-only-C-func.zip](https://github.com/beehive-lab/TornadoVM/files/5820148/0001-Enable-MingW64-build-on-windows-fi-Unixx-only-C-func.zip)

Instructions will follow...

[2021-01-15 11:21] vsilaev commented on #16
# Build TornadoVM with Graal 20.2.0 JDK 8 / 11 on Windows x64
## Install tools
### Maven
Download Apache Maven from the [official site](https://maven.apache.org/download.cgi) and extract it to the any location. Below it's assumed that Maven's home is `C:/Maven`.
### MSys2
1. Download [MSys2](https://www.msys2.org/) installer from the official site and run it. You may choose any installation direct

[2021-01-16 12:29] vsilaev commented on #16
Hello,

I'm trying to adjust current `develop` branch code to support builds on Windows x64 with Mingw64/GCC
OpenCL JNI conversion ran smoothly, but I've staucked with the `ptx-jni` -- there is an error (+warnings) in `PTStream.cpp`

[code]

 Then

[code]

And finally the error:

[code]

Could you please take a look at this?
Also, could you comment on the following changes (at least try on Linux a

[2021-01-18 07:54] eix128 opened #47 "OpenCL script support ?"
Hi , is there any high level library/example code that imports existing OpenCL scripts ?
Also for shaders ?
I want to import my old OpenCL Libraries to TornadoVM.
So i can migrate my old C++ / OpenCL apps to TornadoVM easy...

[2021-01-18 08:20] jjfumero commented on #47
@eix128 , Thank you for your interest in TornadoVM. Currently, we cannot import OpenCL directly. Although it is relatively easy to modify.

Here's an example of an OpenCL kernel for TornadoVM:

https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/examples/generated/add2.cl

[code]

Then, we have an API to load pre-compiled OpenCL. Here's an example:

https://github.com/beehive-lab/Tor

[2021-01-18 08:23] jjfumero commented on #16
Thank you @vsilaev. I will test this also on Linux and on the FPGAs.

Personally, I can work on it after 31st January. So, you can expect comments/approval from 1st Feb.

Thanks

[2021-01-18 08:50] eix128 commented on #16
@vsilaev, thanks for windows support.
Also it will be good if someone adds Android and IOS with RoboVM :)

But for windows these files generated by mingw are not exe file.
They are mingw compatible.
Can we compile native windows exe ? if yes , how ?

[2021-01-18 08:55] vsilaev commented on #16
Well, the build creates native `*.SO` files on Unix/Mac and native `*.DLL` for Windows. There are no EXE files on either platform.
And what do you mean by "mingw compatible"? Mingw is necessary only for build, afterwards you can use TornadoVM as regular Java application with OS-specific native libraries.

[2021-01-18 10:04] eix128 commented on #16
I mean MingW Command
Administrator@DESKTOP-7HR7L73 MINGW64 /d/Works/TornadoVM
# tornado uk.ac.manchester.tornado.examples.compute.MatrixMultiplication2D 512
Computing MxM of 512x512
        CPU Execution: 0.52 GFlops, Total time = 515 ms
        GPU Execution: 38.35 GFlops, Total Time = 7 ms
        Speedup: 73.57142857142857x
        Verification true

Administrator@DESKTOP-7HR7L73 MINGW64 /d/Wor

[2021-01-18 10:06] eix128 commented on #16
Ahh sorry tornado is just script :)

#!/usr/bin/env bash

#
# This file is part of Tornado: A heterogeneous programming framework:
# https://github.com/beehive-lab/tornadovm
#
# Copyright (c) 2020, APT Group, Department of Computer Science,
# School of Engineering, The University of Manchester. All rights reserved.
# Copyright (c) 2013-2019, APT Group, School of Computer Science,
# The University

[2021-01-18 10:09] eix128 commented on #16
@vsilaev , is there any easy maven script that i can use this dll on maven directly on Windows ?

[2021-01-18 10:16] vsilaev commented on #16
Run
[code]
And use the text returned as a prototype of the command line on Windows or in your IDE.

[2021-01-18 12:05] eix128 opened #48 "Android and IOS ( RoboVM ) support ?"
Hi , it seems this library works on all Desktops.
But i think Android is also Linux fork.So it wont be hard to migrate this library.
Also for IOS/Metal (RoboVM) support will be also good.

[2021-01-18 12:56] jjfumero commented on #48
As soon as there is either OpenCL 1.2 support or PTX support, we can run it. For instance, we can run on ARM Mali GPU:

https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/18_MALI.md

Regarding Metal, TornadoVM does not generate code for this platform yet.

Feel free to write a proposal. We have a dedicated page for that.

https://github.com/beehive-lab/TornadoVM/discussions

[2021-01-18 13:02] eix128 commented on #48
Android already supports OpenCL
https://github.com/alon21034/android-opencl-example
https://arrayfire.com/getting-started-with-opencl-on-android/

IOS Supports OpenCL but i dont know the performance
https://github.com/linusyang/opencl-test-ios

[2021-01-20 10:48] vsilaev opened #49 "Adding asynchronous execution to TaskSchedule"
Currently [TaskSchedule](https://github.com/beehive-lab/TornadoVM/blob/master/tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskSchedule.java) API contains only blocking versions of `execute` methods:
[code]
All these methods block currently executing Java thread till all computations are done.
However,  computations are typically off-loaded to GPU and CPU at this moment just keeps waitin

[2021-01-20 11:26] jjfumero commented on #49
We wanted to add this functionality. We prefer to keep the `CLEvent` and `PTXEvent` classes with low-level functionality. However, using a callback function makes sense.

What we were thinking is the async methods, as you proposed, in combination with `ts.sync()`, similarly to CilkPlus, for example.

The only thing is that in between a `ts.executeAsync` and `ts.sync()`, there is no guarantee host

[2021-01-20 12:11] vsilaev commented on #49
Juan,

Is data consistent after regular `TaskSchedle.execute()`? If "yes", then how it can be inconsistent after asynchronous completion of the latest event in OpenCL pipeline (or commands queue) or PTX stream?

I can try to make a small proto with OpenCL, but not with CUDA - haven't worked with it.

[2021-01-21 07:58] jjfumero commented on #49
I meant in between the `executecuteAsync` and the `await`. Here's an example of what I mean:

[code]

So, the user needs to know that the full content is available on the Java heap only after the execution of the `await` method.

Starting with the OpenCL sounds good. Looking forward to it.

[2021-01-21 08:28] vsilaev commented on #49
Juan,

I see your point. But once developers get to work with async pipelines created from `CompletableFuture` they never trap into such issues )

What concerns me more is the following:
When executing OpenCL / CUDA callback we have to attach gpu thread from JNI and invoke Java code. What developers wrongly and happily do is that they left intensive computation code on this "borrowed" thread. And

[2021-01-21 08:36] vsilaev commented on #49
... or alternatively we might have 2 overloaded versions: the one with implicit executor, and the one with `ForkJoinCommonPool` passed explicitly.

Sure, developers still have good chances to shoot themselves in the leg with fake `Executor` or an executor with rejection policy `run on current thread if queue is full`. But the library at least does its best to avoid problems.

[2021-01-21 08:45] jjfumero commented on #49
I am not sure I completely follow.

You mean the Java thread that calls the GPU code? TornadoVM normally launches a grid of > 100x threads.

But it is still legal Java code.

Your proposal regarding the `Executor` looks reasonable. One thing we take care of is to avoid our API from returning different object types with the same functions. We want to keep the API as simple as possible. But I unders

[2021-01-21 08:57] vsilaev commented on #49
When doing callbacks from JNI code to Java code you have to do:
[code]
So we are attaching to the thread not created in Java, it's created by OpenCL. And without switching to "own" thread quickly we keep it busy for the duration of the event listener (and it could be significant time).

[2021-01-21 10:07] stratika commented on #16
Dear @vsilaev, thanks for your patch. I can confirm that by following your guidelines I managed to run the unit-tests.

I have a question, as I am dealing with something that does not exist in the other OS that we have run TornadoVM and I am I wondering if my CUDA configuration in Windows is not properly set. I have built TornadoVM in Windows 64 bit (using MSYS2) for the following 3 configurations

[2021-01-21 11:23] vsilaev commented on #16
Re-try with removing folders `bin/bin`, `bin/sdk` and `dist` (all relative to TornadoVM root).

[2021-01-21 11:45] stratika commented on #16
This was the problem. For some reason the `make clean` was not removing the previous built. I think we can proceed with the testing of the PR, to see the behaviour on the FPGAs and Ubuntu/MacOS.

[code]

Just a comment: The timings are not reliable because I am running multiple processes on my PC.

[2021-01-22 08:20] vsilaev opened #52 "uk.ac.manchester.tornado.drivers.opencl.CLEvent incorrectly uses static field "buffer""
**Describe the bug**
uk.ac.manchester.tornado.drivers.opencl.CLEvent incorrectly uses static field `buffer`.

This static field is used from multiple instance methods like `readEventTime` and `getCLStatus`.
When multiple threads trying to execute separate `TaskSchedule` events are conflicting accessing this field. The race leads to clearing buffer right before reading value returned from JNI and c

[2021-01-22 08:30] jjfumero commented on #49
Shouldn't be easy to run within an executor, or future inside the TaskSchedule execute method, and make all OpenCL calls async?

I think there is no need for a call-back function, we can get the events and wait for the events in the last operation. TornadoVM uses a single OpenCL command queue at the moment.

When the async method is called, then, we can call `clWaitForEvents` for the last event, m

[2021-01-22 08:31] jjfumero commented on #47
I am closing this issue. If you have more questions, please, feel free to open another issue.

[2021-01-22 08:31] #47 closed

[2021-01-22 08:37] vsilaev commented on #49
I'm trying to implement some proto.
What I'm observing in
[code]
i.e. by default it sync devices rather than wait on single event. So I set `-Dtornado.vm.deps=true` as command line argument to develop and test callback. Afterwards ALL and EVERY test fails!
The reason is implementation of `CLEvent.waitOnPassive`:
[code]
Obviously, there is no such `cl_event = 1` known to driver. Hence an ACCESS_VIO

[2021-01-22 08:39] vsilaev commented on #49
??? I.e. one queue shared by all `TaskSchedule`? Then it makes no sense to introduce any asynchronous capabilities while runtime supports only serial execution and can't be used from multithreaded code at all. Is it a case?

[2021-01-22 08:41] jjfumero commented on #52
Thanks @vsilaev . Yes, that's a bug. The `buffer` variable should not be static.
Feel free to push a PR with this change.

[2021-01-22 08:51] vsilaev commented on #52
Will do after previous PR review (windows support). It's hard for me to use separate Ubuntu instance -- my primary development currently is on Windows, and TornadoVM doesn't works on VM-s like Oracle VirtualBox or Microsoft Hyper-V due to lack of OpenCL devices (couldn't figure out how to set them up).

[2021-01-22 08:51] jjfumero commented on #49
Yes, it makes sense. TornadoVM orchestrates OpenCL execution on a single device (at the moment). All tasks that belong to the same task-schedule will be executed on the same device (e.g. on the same GPU).

What `async` execute means for us, is to make a non-blocking call when calling the `execute` method, and return to the Java thread immediately. This does not contradict how internally we dispatc

[2021-01-22 08:57] vsilaev commented on #49
The `CLEventsWrapper` already holds all events fired to command queue. So adding callbacks to them and coordinating them should do the `async` trick. Any reason why Device -> Host is blocking currently if you do `sync` on `TornadoDevice` anyway?

Also, I need to confirm several things:
1. `TornadoDeviceContext` is per-`TaskSchedule` (it's a bit different from OpenCL Context, that could be shared b

[2021-01-22 17:57] jjfumero commented on #49
Only the last transfer is blocking. No, there is no specific reason. We plan to remove the sync after the execute for blocking calls. That's all

That's correct

Currently yes. We have an internal branch with multiple command queues, But this is still experimental,

[2021-01-22 18:02] vsilaev commented on #49
Could you point me where I can adjust my local code to avoid this blocking call (maven module + class)? I'm a bit lost in the code structure. I've added experimental async support, but it looks that due to this blocking call I'm always running on finished queue...

[2021-01-25 08:51] vsilaev commented on #49
For testing I've done 2 changes:
1. Altered `uk.ac.manchester.tornado.runtime.TornadoVM` to use non-blocking read in `executeStreamOutBlocking` (btw, `executeStreamOut` here uses blocking call on `TornadoContextDevice` - it looks like an error).
2. Altered `uk.ac.manchester.tornado.drivers.opencl.runtime.OCLTornadoDevice` to handle atomics in `streamOut` like in `streamOutBlocking`.

This way I ma

[2021-01-26 07:22] jjfumero commented on #49
There are two main points: At the task-schedule level and the TornadoVM level
* Task-Schedule: https://github.com/beehive-lab/TornadoVM/blob/master/runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskSchedule.java#L605
* TornadoVM: https://github.com/beehive-lab/TornadoVM/blob/master/runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java#L665

[2021-01-26 07:25] jjfumero commented on #49
Looks like good progress. IMO, the async mode needs `vm.deps` to be enabled (True) by default. Otherwise, we can't track events. If you are not getting correct results, feel free to open an issue and provide the logs. It might be a bug in that part.

[2021-01-26 09:09] vsilaev commented on #49
Yep, found it. There are were many other issues that I had to fix when trying to add true out-of-order execution (even inside JNI code - blocking wait for read/write).
Attached is a patch with fixed runtime + OpenCL, and an API for `executeAsync(...)`

Currently with OpenCL all tests run ok with both `-Dtornado.ooo-execution.enable=true` (ooo) and `-Dtornado.ooo-execution.enable=false` (partly blo

[2021-01-26 14:07] vsilaev commented on #49
Re-tested without my modifications on version 0.8:
[code]

So with OOO enabled Intel OpenCL 2.0 fails even with existed code, it's not me who introduced the issue ))

[2021-01-26 14:32] jjfumero commented on #49
Hi @vsilaev ,
  thanks for the report.
I cannot reproduce the error on my Linux for any of the devices (Intel CPU, Intel HD Graphics, and NVIDIA GPU). This may be an error in Windows. Please, open a new issue with this error. We will try to work on this once we merge the Windows support.

[2021-01-26 14:38] vsilaev opened #53 "Segmentation fault for OOO execution on Intel CPU Windows 10"
Run Tornado 0.8 on Windows 10 with OOO-enabled on Intel CPU:
[code]

This is reproducible for any example and test.

 - OS: Windows 10 Pro (20H2 19042.746)
 - OpenCL: 2.0 (Intel CPU Runtime for OpenCL 21.191)
 - TornadoVM 0.8 release

As a side note, I have NVIDIA CUDA installed as well, so there are 2 devices on different platforms. Without OOO enabled (default) TornadoVM works fine on either Int

[2021-01-27 14:27] jjfumero commented on #49
Thank you, can you please open a PR to `develop` with this content? We will have a look from 1st Feb.

[2021-01-28 02:51] vsilaev commented on #49
Well, actually no need to do this. After 8 days of investigation I come to conclusion that this is fundamentally impossible due to one TornadoVM future: it uses Java heap rather than `DirectBuffer`-s for data transfers. And it's impossible to get lock asynchronously to heap-based arrays. Period.

Please check [OCLCommandQueue.cpp#transferFromHostToDevice](https://github.com/beehive-lab/TornadoVM/b

[2021-01-28 10:11] vsilaev commented on #49
Ok, yet another try. The plan is following:
1. Keep existing code with `GetPrimitiveArrayCritical` / `ReleasePrimitiveArrayCritical` in `transferFromDeviceToHost` / `transferFromHostToDevice` - to use direct reference to array memory on heap.
2. Instead of `clWaitForEvents` between Get-Release create a JNI `NewGlobalReference` to prevent object from being garbage collected and `ReleaseGlobalRefere

[2021-01-30 08:04] vsilaev commented on #53
The issue was related to invalid combination of the newest Intel drivers (Intel CPU Runtime for OpenCL 21.191) and my pretty aged 4-th gen Intel i7 processor (4930K).

After installing driver 16.1.2 from [this archive](https://www.codeproject.com/Articles/1230011/OpenCL-Drivers-and-Runtimes-for-Intel-Architectu#latest_CPU_runtime) the problem was resolved.

[2021-01-30 08:04] #53 closed

[2021-02-01 21:03] vsilaev opened #55 "Wrong default compiler options: OpenCL 2.0 enforced"
From documentation:

From code (`AbstractMetaData` constructor):
[code]

This prevents AMD OpenCL devices 1.1 / 1.2 from running (NVIDIA ignores this regardless of OpenCL 1.2 ver).

[2021-02-01 22:29] vsilaev opened #56 "ACCESS_VIOLATION in TestArrays.testAdd and testWarmUp with several OpenCL devices"
In my configuration I have 3 OpenCL devices (listed in the same order as in Tornado)
1. GeForce CTX 1080Ti (GPU)
2. AMD FirePro W5000 (GPU)
3. Intel i7 4930K (CPU)

I'm trying to run test suite on AMD device. I see no option to re-order devices or specify a default device, so I set `tornado` args as following:
[code]

When running tests mentioned is subject, I've got ACCESS_VIOLATION, because Torn

[2021-02-01 23:03] vsilaev opened #57 "TestArrays#testInitParallel on AMD - failed with '[REASON] [ERROR] reset() was called after warmup()'"
When running `TestArrays#testInitParallel`  I get '[REASON] [ERROR] reset() was called after warmup()' exception thrown from `TornadoVM.compileTaskFromBytecodeToBinary`.

In fact, `TornadoTestBase.before` indeed reset ALL devices, but `TornadoVM.warmup` validates only one (VM-default ???) device. And if this device is different from SCHEDULE.TASK-device than it leads to an error (task device is ch

[2021-02-01 23:06] stratika commented on #55
Can you please be more descriptive?

1) What is the OpenCL version of your AMD device? And which is the driver version that is installed?

2) Can you give more detail to reproduce the issue? (JDK version, example of a program that is failing)

[2021-02-01 23:18] stratika commented on #56
Hi @vsilaev, I am not sure what is that you would like to do. From what I see, you have used the flag: `-Ds0.t0.device=0:1` which sets the task `t0` from TaskSchedule `s0` to be executed on the device 0:1 (AMD GPU). On the other hand, the task `t1` can be executed on any device, since there is no flag driving where to execute (e.g. `-Ds0.t1.device=0:1`). So, it is scheduled on the default (the fir

[2021-02-02 00:25] vsilaev commented on #55
Just run any test with AMD device that supports OpenCL beyond 2.0 (I'm using AMD FirePro W5000 that is OpenCL 1.2 compatible).
You'll see smth. like:
[code]

It's necessary to set explicit command-line argument to resolve the issue: `-Dtornado.opencl.compiler.options="-w"`
So either docs should be updated to reflect OpenCL 2.0 requirements, or defaults should be fixed.

[2021-02-02 00:29] vsilaev commented on #56
Ok, why subsequent tasks doesn't inherit original task's device context?

A. It's logical
B. How it's ever possible to use another device if input (stream-in, copy-in) was put to the original one? And events are fired from the original one?

[2021-02-02 06:27] jjfumero commented on #56
I can't reproduce this error in our AMD (which uses OpenCL 2.0).

We recently discovered an issue with the AMD and events. It seems there are some events that are passed wrongly.

Could you use this export and check again?

`export AMD_OCL_WAIT_COMMAND=1`

Regarding device-switching. Unless the user sets a new device either from the command line, or an API call, TornadoVM will not change from the

[2021-02-02 06:35] jjfumero commented on #57
This is a bug. In fact, it happens with any device, not only for AMD.

We will look into it.

How to reproduce it?

[code]

Thank you for the report.

[2021-02-02 06:36] jjfumero commented on #55
That's correct. We introduced this when we start supporting atomics. The current way of atomics does not require this flag anymore, so we can remove it.

[2021-02-02 07:10] vsilaev commented on #57
Btw, `-J` option is undocumented, and I had to alter `tornado` bash...

[2021-02-02 07:16] vsilaev commented on #56
Yes, I've fixed this along with adding async support. Fixed this already and will share once I'll be able to test on AMD. NVIDIA has 325 out of 330 tests passed (some profiler test is broken in async), but in general NVIDIA is not the best candidate to be async due to [synchronous clEnqueueNDRangeKernel behavior](https://www.google.com/search?q=clenqueuendrangekernel+nvidia+blocking).

[2021-02-02 07:30] vsilaev opened #58 "Settings from SDK-DIR/etc/tornado.properties are ignored for default platform/device"
Settings specified in `SDK-DIR/etc/tornado.properties` file are ignored.
In particular, setting `tornado.platform` and `tornado.device` has no effect.

There is a method `OpenCL.defaultDevice` that uses these properties, but the method itself is not used anywhere.

[2021-02-02 09:38] vsilaev commented on #49
Status update.

1. Obviously, just keeping reference to avoid GC-ing buffer array doesn't help - its location in memory may be changed during GC.
2. I rewrite `OCLCommandQueue` to use `DirectByteBuffer` for non-blocking calls and left existing "array-copying" code only for blocked read/write.
3. Fixed issues with events processing in `TornadoVM` and `OCLTornadoDevice`
4. Fixed issues in `OCLEvent`

[2021-02-03 07:19] vsilaev opened #59 "Usage of Unsafe class in TornadoVMConfig"
After recent sync sources I see the following warnings about usage of `sun.misc.Unsafe`.

Did you try your code with Graal JDK 11? As far as I know, `Unsafe` was removed in Java 11.

I'm not sure how to replace `offset`, but `scale` seems to be just `Byte.BYTES`, `Double.BYTES`, `Long.BYTES` etc...

[code]

[2021-02-03 07:45] jjfumero commented on #59
Yes, we use Graal JDK 11. All versions supported:

* JDK8, JDK11, JDK12-14  (OpenJDK)
* Graal JDK8, Graal JDK11  (20.2.0)
* Mandrel 20.2.0
* Corretto 11

So far, we haven't seen this warning on Linux or OSx. We will look into that for future releases.

[2021-02-03 08:09] vsilaev commented on #59
You are using `jdk.vm.ci`, so why not use
[taAccessProvider](https://github.com/graalvm/graal-jvmci-8/blob/master/jvmci/jdk.vm.ci.meta/src/jdk/vm/ci/meta/MetaAccessProvider.java)? It has methods
[code]

[2021-02-03 15:34] jjfumero commented on #55
This is now fixed

[2021-02-03 15:34] #55 closed

[2021-02-04 11:51] jjfumero commented on #16
Already merged - https://github.com/beehive-lab/TornadoVM/pull/54

[2021-02-04 11:51] #16 closed

[2021-02-07 19:16] rasmysamy opened #60 "Printing VectorFloat3 of size <4 throws IllegalFormatConversionException"
**Describe the bug**
Printing VectorFloat3 of size <4 throws IllegalFormatConversionException

**How To Reproduce**
Attempt to print a VectorFloat3 of size less than four, for example :
[code]

**Expected behavior**

Output:
`<[0, 0, 10], [1000, 1000, 2000]>`

**Computing system setup (please complete the following information):**
 - OS: Arch Linux
 - OpenCL Version 1.2
 - TornadoVM commit id 29b4

[2021-02-07 23:05] stratika commented on #60
That seems a good point. It seems that the `Float3` object is passed internally in the String Formatter class which fails to convert it to a sequence of floats and throws the exception.

[code]

We will fix it soon. Thanks for spotting it.

[2021-02-08 13:45] vsilaev commented on #58
Created a [PR](https://github.com/beehive-lab/TornadoVM/pull/61) that overcome the limitation (inability to set VM-wide default driver/device).

[2021-02-08 14:20] mikepapadim commented on #60
I am looking into this issue.

[2021-02-08 14:22] jjfumero commented on #60
@mikepapadim , coordinate with @stratika . He is solving this issue as well.

[2021-02-15 06:45] jjfumero commented on #59
Yes, that might be an option. We will investigate that.

[2021-02-15 06:47] jjfumero commented on #52
@vsilaev , are you providing this fix?

[2021-02-15 22:12] vsilaev opened #64 "Altering default device not working with reduction tests"
It looks like https://github.com/beehive-lab/TornadoVM/pull/61 PR conflicts with recent logic for calculating / checking GridInfo by [Thanos Stratikopoulos](https://github.com/stratika).

I've tested code in PR on multiple devices and it worked ok, however, after merging `develop` branch with recent changes by Thanos, it stops working if default device is changed via `tornado.properties`.

Try to

[2021-02-15 23:07] stratika commented on #64
Hi @vsilaev, can you be more specific in order to reproduce it. Are you building with both backends? Or only OpenCL?

Also, can you verify that in the last commit before the merge with id: `5c9e2e714541bfe5a706d06a8b9f09d9ed1c531c` the described configuration still works?

[2021-02-15 23:09] vsilaev commented on #64
Yes, I were testing with OpenCL only. You need at least 2 OpenCL devices. After compilation try to run tests with default device - everything should be ok. Then in `sdk/etc/tornado.properties` set `tornado.device=1` (i.e. non-default). Now tests with reduction fail.

[2021-02-15 23:17] vsilaev commented on #64
I've added system-out to corresponding methods of `TornadoVM` class (in runtime) and see the following sequence:
[code]
AMD is _listed_ as a default device on my desktop (0:0) and Intel (0:1) is set as a default via `tornado.properties`.

[2021-02-16 06:21] jjfumero commented on #64
This works for me:

My Intel HD Graphics is device 0:2

[code]

These are the bytecodes:

[code]

I think we should deprecate the properties file.

BTW, to print the TornadoVM bytecodes you can use:

[code]

[2021-02-16 08:03] vsilaev commented on #64
Juan, this is because you are using "per-task" mechanism to select driver (`-J"-Ds0.t0.device=0:2 -Ds0.t1.device=0:2"`).
If you will try to use my proposed "per-vm" mechanism than you'll see the issue: `-J"-Dtornado.driver=0 -Dtornado.device=2"`

Please review the PR https://github.com/beehive-lab/TornadoVM/pull/65 - it fixes the issue.

[2021-02-16 08:17] vsilaev commented on #64
I would rather keep it and collect here all properties used with default values and comments what they are for.

[2021-02-16 08:19] vsilaev commented on #64
I'm aware of this option, but TornadoVM first collects the whole text and then prints it. When there is an error with "launch" app exits without printing bytecode.

[2021-02-16 09:32] vsilaev commented on #56
Resolved as a part of https://github.com/beehive-lab/TornadoVM/pull/61

[2021-02-16 09:32] #56 closed

[2021-02-19 15:59] brucejohnson opened #66 "Several benchmarks fail when running on MacOS due to ambiguous functions"
**Describe the bug**
Running tornado-benchmarks.py gives failures with calls to ambiguous functions:

nbody : call to '__cl_sqrt' is ambiguous
dgemm: call to '__cl_fma' is ambiguous
dft: call to '__fast_relax_sin' is ambiguous
       call to '__fast_relax_cos' is ambiguous

There are a couple other failures (see output) , but I thought I would limit this bug report to the ambiguous function failur

[2021-02-21 15:15] brucejohnson opened #67 "Different (incorrect) results when running with GPU compared to sequential"
**Describe the bug**
When testing an implementation of an FFT with TornadoVM I found that I am getting different (and incorrect) results when running the exact same method on the GPU as compared to calling it directly.  I narrowed the code down to a simple test case which sets up an array of numbers, retrieves them in sets of 8 values, multiplies them by 10, and puts them back into shuffled locati

[2021-02-22 07:38] jjfumero commented on #66
It seems that the OpenCL OSx compiler cannot distinguish the function being used.  We might need to explicitly typecast for the different varieties of these intrinsics.

https://stackoverflow.com/questions/28851608/opencl-call-to-a-built-in-function-is-ambiguous

We will work on this.

[2021-02-24 08:01] jjfumero commented on #67
Thank you for the report. We will look into this.

[2021-02-25 14:03] mikepapadim commented on #60
Hello @rasmysamy, thank you for your feedback.
Your fix will be upstream through PR #68.

[2021-03-05 12:43] mikepapadim commented on #60
This is now fixed with #68.
I think we can close it.

[2021-03-05 12:49] #60 closed

[2021-03-18 15:44] stratika opened #71 "Breaking unit-tests on AMD GPU"
**Describe the bug**
There are 15 unit-tests in the `develop` branch failing when AMD is used as the default device.

**How To Reproduce**
In my setup the AMD is device `0:2`. I use the thunder machine which has an AMD gfx900 GPU.

[code]

**List of failing unit-tests**
[code]

Resulting in:
[code]

[2021-03-19 06:51] jjfumero commented on #71
- ComputePi is expected to fail (due to barriers on AMD).
-  @gigiblender , can you take a look at the VirtualDevice tests on AMD?

[2021-03-19 07:01] stratika commented on #71
I fixed the `TestGrid`. And I had a look in the `TestVirtualLayer`. It seems that there is a method that checks if there are enough device (`enoughdevices()`). This method invokes another method called `before()`, which attempts to swap two devices with a new index. However, the array for the `flatBackends` has length 1, so it produces an `ArrayOutOfBound Exception`.

@gigiblender if you can, plea

[2021-03-19 08:53] gigiblender commented on #71
@stratika @jjfumero I will have a look in the following days

[2021-03-25 09:44] vsilaev commented on #71
The issue with profiler is that
[code]
It looks like in reality both values are `NULL` and we got NPE in  assert statements

[2021-03-25 09:48] stratika commented on #71
You are correct, it seems that the AMD drivers return `0` for the events related with these two operations.

[2021-03-25 09:53] vsilaev commented on #71
There is an issue with TestBatches as well -- when testing on devices that has < 2GB ram some test fails with pretty clear description about insufficient memory.

[2021-03-25 10:05] stratika commented on #71
By "devices", do you refer to AMD GPUs with memory capacity < 2GB? If yes, the AMD GPU in our server has 4GB, so it may be the case that we have not seen this issue yet. Can you please open a new issue and provide the description and test case.

[2021-03-25 10:07] jjfumero commented on #71
This is related to the AMD driver:

See the related issue here: https://github.com/aparapi/aparapi/issues/24

[2021-03-25 11:04] vsilaev commented on #71
@jjfumero then it strange why profiler test reports about some null value in assert statement.

[2021-03-26 07:02] jjfumero commented on #71
True, we will look into that. I think @stratika has a PR almost ready.

[2021-03-28 11:11] gigiblender opened #74 "TornadoVM does not fully respect the SSA form during LIR building"
In case of `if` conditions we respect the SSA:
[code]

  In case of `for` loops, I am not sure we do:
[code]

I am not sure this is an actual problem and open this issue for discussion.

[2021-03-29 06:23] jjfumero commented on #74
Thanks for the report @gigiblender. We will need all in SSA for the SPIRV backend, .

Maybe an assignment is missing:

[code]

So, when we process the order of the loop:

https://github.com/mikepapadim/TornadoVM/blob/master/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLCompilationResultBuilder.java#L203-L243

We would need to add this instruction before eva

[2021-03-29 09:36] gigiblender commented on #71
#75 should fix the tests for virtual devices

[2021-03-30 16:00] stratika commented on #71
Here is an update, regarding this issue:

Some unit-tests are failing in our `AMD Radeon RX Vega gfx900 GPU`, with driver `2766.4`.
My guess is that our driver (which is old) has some issues with the following tests, since these tests are passing on other AMD GPUs with latest drivers. This is the list of the test and the reason of failure.
- `TestLambdas`: These test are failing with a -46 `CL_INV

[2021-04-01 01:03] AlexeyPirogov opened #77 "Can't compile internal While loop or For loop with break"
Hi,

I used Aparapi before for GPU calculations [Java on GPU: Pricing options with Monte Carlo simulation](https://medium.com/@pirogov.alexey/java-on-gpu-pricing-options-with-monte-carlo-simulation-6350a1fe1efe).
I was excited to hear about Torando VM and wanted to repeat my calculations on FPGA.

I noticed an issue when moving from Aparapi to Tornado VM.
I have a Monte Carlo simulation (n element

[2021-04-01 07:31] jjfumero commented on #77
@AlexeyPirogov, thank you for the report. TornadoVM can handle `break` and `continue`:

Unittests here: https://github.com/beehive-lab/TornadoVM/blob/master/unittests/src/main/java/uk/ac/manchester/tornado/unittests/loops/TestLoops.java#L578-L585

What I think is happening is that the codegen is failing due to complex control flow (we are actually fixing similar cases). Could you please report the

[2021-04-01 08:08] stratika commented on #77
Thanks @AlexeyPirogov for the report. It is not very clear for which device do you see this problem. Is it an FPGA? If yes, does the TornadoVM program work on GPUs?

[2021-04-01 09:10] gigiblender commented on #77
Hi @AlexeyPirogov,

The `while` loop in the code snippet provided is removed during a compilation phase since it has no side effects. The variable `k` is not used anywhere but inside the loop.

Also, a side remark is that the body of the `@Parallel` annotated loops will run with multiple threads. Using a separate `induction variable`, in this case, `currentIter` will cause a race condition. Theref

[2021-04-01 13:46] AlexeyPirogov commented on #77
I'm sorry, seems I didn't provide enough information in my original post.
I extended post with extra details.

[2021-04-01 14:34] stratika commented on #77
Thanks for the update. Based on your kernel file, it seems that @jjfumero is right. There is a missing curly bracket from the kernel and results in failed compilation. We have also identified similar behaviour regarding the closing brackets, and will look at it.

[2021-04-02 07:37] jjfumero commented on #77
Thank you @AlexeyPirogov . After looking at the generated kernel, the error is that we are missing a closing bracket. This is due to a bug in our OpenCL-IR visitor:

https://github.com/beehive-lab/TornadoVM/blob/c10957db7b413b306651dd8b0b3d558fdd301c79/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLBlockVisitor.java

We will fix this and let you know.

[2021-04-08 10:50] jjfumero opened #78 "[Task] Prepare TornadoVM 0.9 release"
* Update documentation and CHANGELOGs
* Update version to 0.9
* Checks with JDK 8, 11,
* Build and update maven links
* Build and check new docker images

Time estimation: ~4-6h

Release: ~15th April 2021

[2021-04-08 14:05] stratika opened #79 "Enhance Reduction Operators for TornadoMath functions"
I tried in [`TestReductionsDoubles`](https://github.com/beehive-lab/TornadoVM/blob/master/unittests/src/main/java/uk/ac/manchester/tornado/unittests/reductions/TestReductionsDoubles.java) to replace `Math.max()` with `TornadoMath.max()`.

[code]

[code]
This replacement resulted in the following error.

[code]

The same issue is shown for other operations (e.g. min, pow...)

So, the feature is to

[2021-04-08 14:09] jjfumero commented on #79
Thank you for the report @stratika. Let's schedule this enhancement for TornadoVM 0.10 .

[2021-04-09 13:49] gigiblender opened #80 "Pass all method parameters through the call stack and improve code cache strategy"
Currently, we have two different strategies for caching compilation results, one for each backend (PTX, OpenCL).

For the PTX backend, we rely on the [identity of the function parameters passed to the task](https://github.com/beehive-lab/TornadoVM/blob/98726fba7de53c2ff91fc3392cc4f0f71754c382/drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/PTXCodeUtil.java#L91). The issue with

[2021-04-12 10:51] jjfumero commented on #57
This PR also fixes this issue: https://github.com/beehive-lab/TornadoVM/pull/82

You are right, the issue is that the default device is was not the selected device for the task.

[2021-04-12 15:03] jjfumero commented on #59
@vsilaev  this is now fixed. https://github.com/beehive-lab/TornadoVM/pull/84/commits/adbcb20a94af87e12d1000940511cb9deeace5e9

I will close this issue.

[2021-04-12 15:03] #59 closed

[2021-04-12 20:18] vsilaev commented on #59
Cool, thanks!

[2021-04-13 14:03] gigiblender opened #86 "TornadoVM gets stuck during sketch compilation in static context"
**Describe the bug**

Creating a `TaskSchedule` and `Task` in a static block (during `clinit`) can cause TornadoVM to get stuck. This will happen if the method passed to the task will have a non-inlined callee (`invokestatic` bytecode).

**How To Reproduce**

Run the code provided with the compiler flag `-XX:CompileCommand="dontinline Main *"`

[code]
I tested the code and it seems to happen with

[2021-04-14 14:07] jjfumero commented on #34
PR #85 solves this issue

[2021-04-15 09:43] stratika opened #89 "Make OCLKind and PTXKind consistent for LocalArrayNodes"
**Describe the feature**
There is an inconsistency between the OpenCL and the PTX backends.
The inconsistency is observed in the `generate` method of the `LocalArrayNode`. Prior to the `TornadoVMContext` features, this node was used only from the snippets. So, we could use the constructor that uses the `ResolvedJavaType` field. Now, that we append this node from the CompilerGraphPlugins, we use a

[2021-04-15 10:05] jjfumero commented on #78
Solved: https://github.com/beehive-lab/TornadoVM/pull/88

[2021-04-15 10:05] #78 closed

[2021-04-17 15:17] #34 closed

[2021-04-19 08:14] #52 closed

[2021-04-19 08:26] jjfumero commented on #89
I think the way to go is by getting word kind from the constructor. For that, we can add a new method in OCLKind from type `JavaKind` to `OCLKind`, if possible.

[2021-04-21 12:42] gigiblender opened #92 "Deprecate passing local and global dimensions for tasks as a runtime flag"
Currently, we can specify the local/global work for a task through a runtime flag:` <ts>.<taskName>.global/local.dims=x,x,x`, bypassing the scheduler.
Since we now have the Grid API, I think we can deprecate these options and remove the extra logic in the `TaskMetaData`.
Please note that [slambench](https://github.com/beehive-lab/kfusion-tornadovm) uses the runtime flags and needs refactoring as w

[2021-04-22 07:04] #57 closed

[2021-04-22 07:05] jjfumero commented on #71
With this PR https://github.com/beehive-lab/TornadoVM/pull/91 we have 100% tests passing on AMD and ROCm drivers.

[2021-04-22 09:17] stratika commented on #92
I agree with that. These flags were used mainly for the Ahead of Time FPGA execution. I have tested FPGAs also with the `Grid` API and they work. So, we could proceed with these change and check Slambench if it works.

[2021-04-26 10:24] gigiblender opened #94 "Refactor the TimeProfiler"
Currently, [this method](https://github.com/beehive-lab/TornadoVM/blob/0f8b0c7c59cd6d54efc19efd1aafe950963fe2be/runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/TimeProfiler.java#L53) (`addValueToMetric`) expects a `taskName` to be passed.
The  `addValueToMetric` method is called for the `TASK_COPY_IN_SIZE_BYES` and `TASK_COPY_OUT_SIZE_BYTES` profile tyes which is not correct. Objec

[2021-04-29 09:21] jjfumero commented on #94
Thank you @gigiblender for the report. This is by design. We want each task to have its own profiler. This is especially beneficial in a multi-task , multi-device environment. But I also agree that for some cases (e.g., using the `task.sync(objects)` )  the profiler should add the metrics at the task-schedule level, rather than the task-level.

I suggest refactoring this part to add both options.

[2021-04-29 09:24] jjfumero commented on #92
IMO we should keep this flag. The reason is that the command line grid options do not require source code modifications for tasks that do not have an explicit `GridTask`.  This works for GPUs, FPGAs and multi-core.

Additionally, other benchmark suites for TornadoVM use these flags to run on FPGAs, such as KFusion: https://github.com/beehive-lab/kfusion-tornadovm/

[2021-05-11 09:45] stratika opened #104 "[bug] Kfusion throws CL_OUT_OF_RESOURCES error on Nvidia GPUs"
**Describe the bug**
There is an issue when I test [kfusion](https://github.com/beehive-lab/kfusion-tornadovm) on Nvidia GTX 1050 GPU of my laptop. The error is the following:
[code]

I tried to corner the source of the problem, as [v0.9](https://github.com/beehive-lab/TornadoVM/tree/v0.9) is working and found that the commit point in which this error is thrown.
- commit id: [7c5b36fdf](https://gi

[2021-05-16 21:17] #89 closed

[2021-05-18 07:45] stratika commented on #104
Currently Kinect Fusion operates after merging #106 hotfix. So, I close this issue.

[2021-05-18 07:45] #104 closed

[2021-05-18 07:54] #71 closed

[2021-05-19 13:30] vsilaev opened #108 "Handling char Java primitives in kernel."
**Describe the bug**
It looks like `char` Java primitive type is not handled well in kernels, and the higher byte is set to some random value.
Discovered in test `uk.ac.manchester.tornado.unittests.arrays.TestArrays#testVectorChars`

**How To Reproduce**
Run arrays test from std. test package:
[code]

In the output under some rare conditions (not always) the following output is shown:
[code]
or
[c

[2021-05-21 10:19] jjfumero commented on #108
Thank you for the report. I can't reproduce the error. Which OpenCL driver/s are you using? Is it only for the OpenCL backend, or you get the same error for PTX?

My driver setup (for Linux)
* NVIDIA 460.80 for Linux
* Intel HD Graphics 21.19.19792
* Intel CPU Runtime: 18.1.0.0920

[2021-05-21 10:30] vsilaev commented on #108
![s1](https://user-images.githubusercontent.com/3337603/119123799-a25ef880-ba38-11eb-9cff-3d19fc1f632c.png)
![s2](https://user-images.githubusercontent.com/3337603/119123827-a8ed7000-ba38-11eb-8143-07cb96364ed4.png)

[2021-05-21 13:25] vsilaev opened #110 "Endianness of OpenCL driver"
This is not actually a bug but rather a question - as long as I can't get necessary hardware/software to test.
Per my understanding of the code, the OpenCL driver directly "projects" java arrays  as OpenCL buffers (with elements larger than a byte like long or double).

As long as Java always stores primitives in little endian format, does it mean that TornadoVM only support environments (combo of

[2021-05-24 07:55] jjfumero commented on #110
No. TornadoVM queries the device's properties and obtains the endianness of the device. GPUs and FPGAs are usually little-endian, but TornadoVM always queries the endianness before setting the order of the byte arrays.

No, we haven't tested on those platforms.

[2021-05-24 08:35] vsilaev commented on #110
You don't. Take a look at `OCLCommandQueue` -  you are using fixed endianness for API like `getContextId` or `getDeviceId`, however all calls to `enqueueWrite` and `enqueueRead` are just passing Java arrays as is to JNI methods, where direct access is used to array content, and this content is always in little endian (Java std.)

[2021-05-24 08:46] jjfumero commented on #110
Yes, we do. The pointer to the heap is set in the call stack. This is has a byte-buffer that has the endianess from the device. Otherwise, it does not work.

Additionally, we register the Graal Architecture with the correct endianness from the device.

[2021-05-24 10:51] vsilaev commented on #110
From what I see there are indeed `OCLByteBuffer` and `OCLCallStack` that applies endianness. However, what about this sequence:
1. `TornadoVM` executes `streamIn` in `OCLTornadoDevice` passing a long[] as first argument
2.  `OCLTornadoDevice` gets corresponding `ObjectBuffer` that corresponds to `OCLLongArrayWrapper` (subclass of `OCLArrayWrapper`) and invokes `OCLLongArrayWrapper.writeArrayData`

[2021-05-31 07:56] stratika opened #116 "Invalid binary in AWS EC2 F1 instance, while AFI is not ready"
**Is your feature request related to a problem? Please describe.**
Due to the AWS FPGA toolchain, once the Xilinx bitstream is generated it cannot be immediately executed. It requires first to create an Amazon FPGA Image (AFI).

In TornadoVM, the user invokes the `aws_post_processing.sh` script which creates an Amazon FPGA Image (AFI), updates the link of the FPGA binary and uploads a description

[2021-05-31 15:09] jjfumero opened #117 "[BUG] Multiple conditions evaluation results in wrong code gen"
**Describe the bug**

The generated code omits a condition when having a complex if condition:

The result code for OpenCL is as follows:

[code]

**How To Reproduce**

This test case reproduces the error.

[code]

The problem is that during one of the low-tier compiler phases the multiple conditions is removed. I suspect this is during one of the canonicalization phases.

[2021-06-01 08:08] jjfumero commented on #116
This is the AWS workflow to compile the bitstream. As you said, we can shutdown the TornadoVM execution while the bitstream is being created. Once the bitstream is finalized, users can run TornadoVM as usual.

Another option is to only do a pre-compilation (AoT mode) when compiling on Amazon instances.

[2021-06-02 22:10] vsilaev commented on #108
/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/PrimitiveSerialiser.java -- ignores CHAR and BYTE
/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLObjectWrapper.java -- ignores CHAR and CHAR[] when reading field value and wrapping array field.

[2021-07-23 13:35] vsilaev commented on #108
Seems to be fixed with this commit:
https://github.com/beehive-lab/TornadoVM/commit/df3150beff6831350787e91c1d1b7dcd3dbe98e4

[2021-08-13 06:37] vsilaev commented on #108
Closing the issue - it looks like it was indeed "accidentally" fixed

[2021-08-13 06:37] #108 closed

[2021-08-14 17:34] fafayqa opened #138 "NetBeans12.4 x64, project cannot be compiled"

[2021-08-14 17:38] #138 closed

[2021-09-08 14:23] #79 closed

[2021-09-08 14:25] jjfumero commented on #86
@gigiblender ., can you confirm this is now solved?

[2021-09-08 18:20] gigiblender commented on #86
@jjfumero I have not worked on this issue since reporting it. I think this is not solved yet, unless another patch accidentally fixed it.

[2021-09-17 16:26] yazun opened #145 "Cannot compile with openjdk17 and gcc[89] with Intel opencl."
**Describe the bug**
Trying to compile on Centos 7 with opencl support on devtoolset-8 and devtoolset-9 :

**How To Reproduce**

[code]
[code]

**Expected behavior**
Successful compilation.

**Computing system setup (please complete the following information):**
 - OS: centos7
 - OpenCL Version : 2.2 reported by the build process
 - TornadoVM commit id c61f388544396609de3b11350e307a048e610a65

**A

[2021-09-17 17:55] jjfumero commented on #145
Hi @yazun . OpenJDK 17 is not supported yet. Quite likely, the error you are getting is because the Graal version shipped in OpenJDK 17 has minor changes that we need to address and support.

Currently,  we can run OpenJDK 8, 11 and 16 and Graal 21.2.0.

These are the backends and the configurations supported:
https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/1_INSTALL.md#1-in

[2021-09-17 19:54] yazun commented on #145
Hello @jjfumero,
Was not Graal dropped from OpenJDK [JDK-8268272](https://bugs-stage.openjdk.java.net/browse/JDK-8268272) ?
Would it mean it would not be possible to use TornadoVM with it? Or you mean TornadoVM would have to upgrade Graal to v17?
Thanks for clarification.

[2021-09-18 04:47] jjfumero commented on #145
Yes, you are right.
 What I meant to say is that TornadoVM needs to sync with [JVMCI](http://openjdk.java.net/jeps/243). We do this in order to use a specific GraalVM version as well as using the shipped JVMCI for each JDK. In fact, one of the errors I see from your logs is a change in JVMCI.

It is in our plans to upgrade to JDK17, meanwhile, if possible, you can give it a try with older versions

[2021-09-19 15:53] gwinstanley opened #146 "Maven settings.xml file gets overwritten (instead of merged)"
**Describe the bug**
During compilation, the `scripts/updateMavenSettings.py` script overwrites any existing `~/.m2/settings.xml` file.

**How To Reproduce**
Build the project with an existing `~/.m2/settings.xml` file in place.

**Expected behavior**
TornadoVM custom settings to be merged into existing file instead of overwriting it.

**Computing system setup (please complete the following inform

[2021-09-20 14:13] yazun commented on #145
We just finished a greater effort to move to JDK17 so we would be happy to try TornadoVM once the updated to latest JVMCI.
(just for the info, we consider TornadoVM for astronomy, Variability Studies in [ESA Gaia project](https://sci.esa.int/web/gaia) )

[2021-09-21 09:20] jjfumero commented on #145
Thank you for your interest. I will leave this thread open. Once we support JDK17 we will post it here.

[2021-09-21 09:21] yazun commented on #145
Thank you, appreciated!

[2021-11-01 20:54] vsilaev opened #149 "Outdated reduceOperandTable in ReduceTaskSchedule"
**Describe the bug**
After commit https://github.com/beehive-lab/TornadoVM/commit/32eda09017854d3bbfc125f49a42e77b3e4d5646 in [ReduceTaskSchedule](https://github.com/beehive-lab/TornadoVM/blob/develop/runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/ReduceTaskSchedule.java) the field `reduceOperandTable` has no purpose.

**How To Reproduce**
This is just a code improvement

**Expected

[2021-11-02 19:18] gigiblender commented on #86
The issue is caused by a deadlock between the main java thread calling the class initializer `<clinit>` and the Tornado sketch compilation thread waiting for the `<clinit>` to finish. The following happens:
1) The main Java thread runs the class initializer `<clinit>` and therefore creates the Tornado task `t0`
2) A sketch compilation request is created and executed by a different thread, using th

[2021-11-03 10:49] jjfumero opened #150 "TornadoVM performs more copies than needed for some applications"
For example, for the mandelbrot application, there should be only a LAUNCH and STREAM_OUT at the bytecode level.

[code]

However, we get the following sequence:

[code]
I believe the error is related to the data dependencies analyzer.

**How To Reproduce**

[code]
**Expected behaviour**

[code]

[2021-11-15 09:27] jjfumero commented on #39
I will close this issue. Please, feel free to open new issues for more questions, features, and bug reports.

[2021-11-15 09:27] #39 closed

[2021-11-15 09:28] jjfumero commented on #43
I will close this issue. Please, feel free to open new issues for more questions, features, and bug reports.

[2021-11-15 09:28] #43 closed

[2021-11-15 10:29] jjfumero commented on #74
This was not an issue for the SPIR-V backend. Shall we close this issue, @gigiblender ?

[2021-11-25 06:19] jjfumero commented on #145
Hi @yazun ,
    TornadoVM now supports JDK 17 and GraalVM 21.3.0. It is upstream in the `develop` branch:

[code]

[code]

Please, let us know if this works for you, and feel free to open new issues if you encounter new problems or want to add your feedback.

Juan

[2021-11-25 09:04] yazun commented on #145
That's excellent news!
We will try in coming weeks - we will assess gains on our cluster with Intel GPUs then CUDA.
Thanks a lot!

[2021-11-25 10:52] yazun commented on #145
A minor annoyance:
We had a trouble to compile the branch without cloning repo fresh though, looked like `make clean` did not do its job fully. Cloning fresh helped and it compiled successfully in the end.

Log of the failing compoile without fresh clone, after the `make clean`:
`
[root@ecogcn134 tornadovm]# git checkout develop
Already on 'develop'
[root@ecogcn134 tornadovm]# git pull
Already up-

[2021-11-25 11:09] yazun commented on #145
After the successful compilation we get error trying to run examples:
[code]

[2021-11-25 11:10] yazun commented on #145
@jjfumero Let me know if you'd prefer a new issue to be created for this one.

[2021-11-25 11:20] yazun commented on #145
[code]
Looks like openjdk added timestamp to the version.

[2021-11-25 11:32] jjfumero commented on #145
Thanks for the report. I am trying to reproduce the error but it seems you are using an older version. Are you using the latest `develop`?

[code]

We changed the default GC to `-XX:+UseParallelGC `

[code]

Let me know if this works. Otherwise please, open a new issue with the bug report.

[2021-11-26 07:00] jjfumero commented on #146
Thank you @gwinstanley  for the report.
 This is now fixed: https://github.com/beehive-lab/TornadoVM/commit/0642e07634fb929573f012d2949a0852137f4ff2

I will close this issue. Feel free to open new issues if you encounter new problems.

[2021-11-26 07:01] #146 closed

[2021-11-26 07:03] jjfumero commented on #116
@stratika , I think this can be closed since was already merged.

[2021-11-26 09:42] yazun commented on #145
I can confirm that version parsing was the problem - when kludging it with removal of minor version JDK checks at lines 121 and 285:

[code]
it worked!

[code]

We have probably the first released JDK17 installed with no minor versions yet.

[2021-11-26 09:44] jjfumero commented on #145
Great. I will close this issue then. Feel free to open new issues if you encounter new problems.

[2021-11-26 09:44] #145 closed

[2021-11-26 09:44] yazun commented on #145
As a side note the github maven repo you provide still does not have ver 0.13 jars. Can we use 0.12 jars to use with 0.13 distribution?

[2021-11-26 09:50] jjfumero commented on #145
Yes, that's right. Our maven repos only ship the releases. What you propose will also work because we rarely change the API. We haven't scheduled any changes for the next release regarding the API, so it will keep as it is for now.

What we do internally is to use `0.13-dev` (current tag as today) in our pom files and then we update accordingly with each release.

Hope this helps

[2021-11-26 12:02] yazun commented on #66
Does it mean no trigonometric function can be used currently on MacOs?
We develop on MacOS and run on Linux so it would be nice to have a workaround if one exists.

[2021-11-26 12:03] yazun commented on #66
(Same behaviour on Monterey):
[code]

[2021-11-26 12:10] stratika commented on #66
Hi @yazun, if you run on Linux it should be ok to use the trigonometric functions.

We have faced some inconsistencies when we have deployed some benchmarks and unit-tests on MacOS. This is mainly because of the old version of the OpenCL drivers for this OS. For example, one of the latest issues that we encounter is the lack of support for native trigonometric functions. This could affect you only

[2021-11-26 12:14] yazun commented on #66
Yes, we see sin/cos work fine on Linux and all tests/benchmarks pass ok (see https://github.com/beehive-lab/TornadoVM/issues/145) with JDK17.
Since we rely heavily on the trigonometric support it is an issue for development and indeed affects us.

[2021-11-26 12:24] stratika commented on #66
I see. Based on the information about your setup it seems that your driver supports OpenCL 1.2. This version offers support for the native trigonometric functions based on the [standard](https://www.khronos.org/registry/OpenCL/specs/opencl-1.2.pdf) (Page 252). So, it should not be a problem for you.

In my case, I have an older version of the driver and this is what causes the problem. Otherwise,

[2021-11-26 12:29] yazun commented on #66
Good to hear it's not the limitation of the driver.

Not sure how to affect usage, tried both `-Dtornado.enable.nativeFunctions=[False|True]`

[code]

Then with native enabled

[code]

[2021-11-26 12:50] yazun commented on #66
Specifying device does not change much, i.e. for discrete GPU

[code]

[2021-11-26 12:54] yazun commented on #66
so can ambiguity come from the fact there are two GPUs? Is it possible to target just one to avoid this problem?

[2021-11-26 12:59] stratika commented on #66
Can you print the kernel please, with `--printKernel`?

The error that you get (```[CL_BUILD_ERROR] : OpenCL Build Error```) is because the OpenCL driver cannot compile the kernel. However, if the kernel works on Linux for a similar device type, this means that the problem most likely is an OS - driver issue.

In this case, my next step would be to try an OpenCL kernel that uses the same function

[2021-11-26 13:18] yazun commented on #66
Could you clarify what should be -D<s>.<t>.device for benchmarks for say device 0:1?

kernel included:
[code]

[2021-11-26 13:28] yazun commented on #66
and the native kernel:
[code]

[2021-11-26 15:47] yazun commented on #66
I remembered  OpenCL has been a dead-end for Macs (i.e. https://www.reddit.com/r/OpenCL/comments/qevdbg/opencl_30_on_macos/)

Something to keep in mind during the next round of purchases for any scientific team.

Nevertheless,seems we can work on openCL with ` -Dtornado.enable.nativeFunctions=False`  with CPU so it should be good enough for development for now.

[2021-11-26 15:52] stratika commented on #66
Yes, these are unfortunate news.

[2021-11-27 14:05] yazun opened #151 "TornadoVM silently includes (an outdated) commons-math3 that causes problems."
**Describe the bug**
Some of our unit tests fail when using Tornado VM options due to (surprisingly) included commons-math3 ver 3.2 that is silently added to the classpath.

**How To Reproduce**
Run any code needing commons-math functionality included in a newer commons-math, i.e. the latest 3.6.1: it fails for us trying to resolve `org.apache.commons.math3.fitting.WeightedObservedPoints` class.

[2021-11-27 14:16] yazun commented on #151
[code]

In our case removal of `commons-*` helped. but presence of log4j, junit, asm jars might be problematic as well

[2021-11-30 00:05] yazun opened #152 "Unable to build sketch for method: ... (Unsupported class file major version 61) for jdk17 - asm ver 9 needed."
**Describe the bug**

We are trying to naively port our standard to start with TornadoVM using JDK17 and dev-013 from develop branch.
We ported a selected algorithm but are unable to run it.

Code compiles fine:
[code]
but when trying to run we get puzzling error related to asm not handling java17 (it started jdk17 support with ver 8 or 9 I think), as the project has been recompiled with jdk17:

[

[2021-11-30 00:40] yazun opened #153 "Kernel fails with clEnqueueNDRangeKernel -> Returned: -5 with openCL."
**Describe the bug**
This is continuation of the issue https://github.com/beehive-lab/TornadoVM/issues/152 but with asm ver 9.2 replacing bundled ver 7.2

**How To Reproduce**
Same test as in https://github.com/beehive-lab/TornadoVM/issues/152

The code of the computeGPU function looks like:
[code]

This time the kernel is generated but the code fails.

[code]
test fails with empty array returned.

[2021-11-30 00:42] yazun commented on #153
nb. Error is the same for both CPU and GPU generated kernels.

[2021-11-30 00:47] yazun commented on #152
Actually the assertion failure is correct as we lowered accuracy for the sake of the test (so jvm properly executes vanilla java code).

[2021-11-30 06:45] jjfumero commented on #153
There are a few things here:

From the code being generated:

- I see TornadoVM generated a kernel, meaning that it passes all optimization phases and it generates OpenCL C code.
- The OpenCL code seems to be syntactically correct.
- I see a huge amount of arrays allocated in the private memory of the GPU.I think this gives you out of resources.

How to parallelize the Java application:
- Looking

[2021-11-30 06:51] jjfumero commented on #152
Thank you @yazun for the report.

Can you confirm that the newest version works for you?

https://mvnrepository.com/artifact/org.ow2.asm/asm/9.2

The dependency is located here: https://github.com/beehive-lab/TornadoVM/blob/c7893f594cb4710a93495b279aa393845ff47991/tornado-annotation/pom.xml#L44

If it works for you, please, feel free to open a PR with this change.

[2021-11-30 06:53] jjfumero commented on #151
Hi @yazun ,
  sorry I don't follow. Which unittests are failing? Are those unittests from the TornadoVM test-suite?

[2021-11-30 06:55] jjfumero commented on #152
Update: ok I just saw the connection with #153 . Could you please open a PR with this change?

All PRs are submitted to the `develop` branch.

[2021-11-30 09:29] yazun commented on #152
Sorry, Just realized I created merge request with master, will redo with `develop` branch.

[2021-11-30 09:30] jjfumero commented on #152
Dont worry, I can edit it.

[2021-11-30 09:35] yazun commented on #151
Hello @jjfumero,
No, our tests when trying to port code to tornadoVM/openCL.

In our case removal of these jars just worked, but maybe appending jars (and not prefixing with them) from `tornadovm/bin/sdk/share/java/tornado/` to a classpath would be a step in good direction, so the project jars are loaded if they exist?

[2021-11-30 14:32] yazun opened #155 "TaskSchedule::task(Task13|Task14) returns TornadoAPI object."
**Describe the bug**
Seems there's discrepancy in the TaskSchedule

https://github.com/beehive-lab/TornadoVM/blob/master/tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskSchedule.java#L211

for Task13 and Task14 params returns TornadoAPI which breaks the usual pattern for TaskSchedule usage.

**How To Reproduce**
[code]
will not compile complaining about type mismatach.
**Expected behavi

[2021-12-01 06:05] jjfumero commented on #155
Thank you @yazun , good catch. We will fix this.

[2021-12-01 06:34] jjfumero commented on #151
Thanks, we will study this. Can you provide a simple test to reproduce the error?

[2021-12-01 14:53] jjfumero commented on #153
Thank you for the suggestion. Yes I agree TornadoVM should be able to at least, throw the error and bailout. We annotate this for future work.

Meanwhile, keep in mind TornadoVM offers two APIs:
 - Loop parallelization (the one you used)
 - Kernel Parallel API : this is similar to OpenCL , CUDA and SYCL.  You can find examples here: https://github.com/beehive-lab/TornadoVM/tree/master/examples/src

[2021-12-01 14:55] yazun commented on #153
Yes, porting to Kernel Parallel API will be the next step now.
Thanks!

[2021-12-01 15:12] yazun commented on #151
The easiest would be to take 3.6.1 code from i.e.
https://github.com/apache/commons-math/tree/3.6.1-release
and run the tests with tornado. Some will likely fail due to --module-path taking precedence over the project classpath.

[2021-12-06 15:16] yazun opened #157 "Kernel produced does not compile for different input of the same fn."
**Describe the bug**
This one is a continuation of https://github.com/beehive-lab/TornadoVM/issues/153
We tried to port code to Kernel semantics, but the results are puzzling and sometimes kernel is not compiled at all in between the calls, and is clearly related to different way of passing arguments when Tornado intercepts that input is small (i.e. length of the input array is ~10 vs 1000).

Belo

[2021-12-06 15:26] yazun opened #158 "Cannot invoke "Object.toString()" because "this.constant" is null when trying to use context.allocateDoubleLocalArray"
**Describe the bug**
Continuation of https://github.com/beehive-lab/TornadoVM/issues/157

We are trying to get rid of recompilation of the kernels between invocations in order to get stable code.
When we use `context.allocateDoubleLocalArray`call in a function, it does not work at all with
[code]
error.

The general question is if it is possible at all to get a _static_ kernel code to be reused by

[2021-12-06 15:53] yazun opened #159 "Different results of the same function using kernel interface depending on the LocalGroup size setting and input size."
**Describe the bug**
Not sure if it is a bug or a openCL generated kernel feature we do not fully understand (i.e. like that the input array size must be even or power of 2 or what is the relation of GlobalGroup/LocalGroup sizes vs input size)

When the input size changes, or local size changes, our algorithm does not execute on all input data and yields wrong results (which is most of the time)

[2021-12-06 16:04] yazun commented on #157
Moreover, when TornadoVM cannot compile the kernel for the 2nd invocation and executes it via the standard Java path, but since tileSize is not dynamic it will never execute on the full input (tileSize), so the premise TornadoVM will produce a the same/correct result regardless of the backend is not fulfilled. (?)

[2021-12-06 17:21] jjfumero commented on #158
Thank you @yazun  for the report.
This looks to me a bug. I will provide unittets for this function.

We can get the device information and local work group sizes, so this information should be already available. I am thinking we can add a check in the TornadoVM JIT compiler to assure the requested local memory does not exceed the capability of the device.

[2021-12-06 17:34] #155 closed

[2021-12-06 17:39] jjfumero commented on #157
It seems to me an error during the code-gen for OpenCL. Have you tried other backend? For example PTX or SPIR-V?

TornadoVM bails out and executes the Java sequential, but only when using the Loop Parallel API (not the kernel context). We have plans to include support for bailout when using the `KernelContext` API, but it is not implemented at the moment.

[2021-12-06 19:30] stratika commented on #158
@yazun can you please provide the declaration of `constTileSize`?

[2021-12-06 19:50] stratika commented on #158
To me it looks like the `constTileSize` variable is not declared as `final`.

[2021-12-06 21:27] yazun commented on #158
Yes, sorry for not including it - good catch, it was
[code]

This exception is gone now when using dynamic allocation and we are back to problem described in
https://github.com/beehive-lab/TornadoVM/issues/158 and https://github.com/beehive-lab/TornadoVM/issues/159

[2021-12-06 21:34] yazun commented on #158
but the kernel generated does not look like dynamic - I hoped to see some opencl alloc instead.. (btw I changed `constTileSize` from 512 reported before to 1024 for testing)
[code]

[2021-12-06 21:57] yazun commented on #157
No, have not tried on PTX yet as we target Intel for now.

Also no luck with SPIRV compilation (level-zero seems to be installed ok):
[code]
---

Either exception not allowing running after bailout or some `KernelContext` field denoting bailout could be of help.

[2021-12-06 22:11] vsilaev opened #160 "Failed tests if PTX device is selected as default and both OpenCL and PTX drivers are available"
**Describe the bug**
A lot of shipped tests failed when PTX device is selected as default and both OpenCL and PTX drivers are available

**How To Reproduce**
1. Get TornadoVM
2. Build with both OpenCL and PTX drivers with `make graal-jdk-11-plus BACKEND=ptx,opencl`
3. In `./bin/sdk/etc/tornado.properties` set `tornado.driver=1` to use  the first device of the PTX driver
4. Run test suit `tornado-t

[2021-12-06 22:11] yazun commented on #157
CMAKE_ROOT was set ok for smake v 3 but not the PATH. With path fixed it built spriv ok.

[2021-12-06 22:13] vsilaev commented on #160
Just to re-iterate: when only PTX driver is used than there are no such errors. I guess that somehow the first available driver/device is consulted for capabilities and other features - and in case of OpenCL + PTX this is an OpenCL driver/device. The specified default driver should be consulted for the list of the supported features and other stuff.

[2021-12-06 22:16] yazun commented on #157
Could  existing `-Dtornado.recover.bailout=False` be used for this?

[2021-12-07 01:15] yazun commented on #157
For SPIRV backend the following exception appears:

[code]

[2021-12-07 06:44] jjfumero commented on #160
We use the following command to run the unittests with another device/driver:

[code]
I see the PTX driver is fine. We haven't tested the way you suggest for changing the device during uni-ttesting. I suggest using the command described here.

[2021-12-07 06:46] jjfumero commented on #158
Hi @yazun , I don't follow. What do you mean by ` opencl alloc instead.` ?

[2021-12-07 07:02] jjfumero commented on #159
When using the `KernelContext` and the `GridScheduler` APIs the developer is in full control of how to execute and deploy the application on the parallel hardware, similarly to OpenCL, CUDA or SYCL.

When setting the `localWorkGroup` to `null`, the corresponding driver will set up a block of threads for the user. However, if you are sharing memory (local memory in OpenCL, shared memory in CUDA/PTX

[2021-12-07 07:03] jjfumero commented on #157
Yes, that's actually a good idea.

[2021-12-07 07:04] jjfumero commented on #157
Thank you for this report. That's a new bug. I will take care of this.

[2021-12-07 07:58] vsilaev commented on #160
Yes, this works. I've found the usage of this property in `TornadoTestBase`.
But I guess that `TornadoCoreRuntime.getDefaultDevice` should be modified to return the very same device as the one that is selected by default for the `TaskSchedule` -- currently this is not the case

[2021-12-07 12:37] yazun commented on #158
Hello @jjfumero,
Probably my tiny, passive experience with OpenCL pops up here: I expected a `clCreateBuffer` call, but clearly there's a __local pragma before - so indeed local but not dynamic. Not even sure now one could use `clCreateBuffer` in this context (to remove need of recompilation) but attribute this to my ignorance...

[2021-12-07 12:37] #152 closed

[2021-12-07 12:41] jjfumero commented on #158
Hi @yazun , we can take offline discussions to understand more about these issues. We are happy to help here.

[2021-12-07 13:00] yazun commented on #159
Big Thanks for checking and for support on this, hopefully my understanding on GPU/OpenCL etc basics  will improve fast, for now some assumptions might be plain wrong:

* Ad 1) I assumed that we'd have GlobalWork number of executions with the size of localGroup each, so in our case we'd have to define kernek work as `amplitudes.length/GlobalWork size` which should be localSize (`tileSize`).
* Ad 2

[2021-12-07 13:03] jjfumero commented on #42
Currently, the licenses of TornadoVM components are as follows:

|  Module | License  |
|---|---|
| Tornado-API       |  [![License: GPL v2](https://img.shields.io/badge/License-GPL%20v2-blue.svg)](https://github.com/beehive-lab/TornadoVM/blob/master/LICENSE_GPLv2CEl) + CLASSPATH Exception |
| Tornado-Runtime   |  [![License: GPL v2](https://img.shields.io/badge/License-GPL%20v2-blue.svg)](https:/

[2021-12-07 13:03] #42 closed

[2021-12-07 13:04] jjfumero commented on #74
@gigiblender , this does seem to be an issue with the SPIRV, which respects the SSA representation. I will close this issue.

[2021-12-07 13:04] #74 closed

[2021-12-07 13:09] jjfumero commented on #153
@yazun , is this issue solved? Can this issue be closed?

[2021-12-07 13:52] yazun commented on #153
yes, thanks!

[2021-12-07 13:52] #153 closed

[2021-12-08 10:09] stratika commented on #160
Hi @vsilaev, the suggested strategy for selecting the default backend via the `tornado.properties` file for unit-tests does not work. As far as we understand the licenses, this strategy breaks. The flag (as reported by @jjfumero) is a design decision that we made to circumvent this problem.

[2021-12-08 21:30] vsilaev commented on #160
Could you elaborate more on this?

[2021-12-09 11:05] stratika commented on #160
Sure, the `TornadoCoreRuntime.java` class that resides in the runtime module uses `GPL v2` license, while the `TornadoTestRunner.java` class which executes the unit-tests uses `Apache 2.0` license. Unless, I did not understand what you proposed. Let me know if my assumption is incorrect. Also, I would suggest to open a feature request and describe the proposed solution, because this seems like an

[2021-12-10 15:36] jjfumero commented on #157
@yazun , I cannot reproduce the error for SPIR-V. Are you running on OSx?

Invoking TornadoVM manually from Java JDK 17 (using all Java flags) :

[code]

[2021-12-17 10:17] jjfumero commented on #157
@yazun , can this issue be closed?

[2021-12-20 12:31] #77 closed

[2021-12-20 14:32] #160 closed

[2021-12-20 14:46] #92 closed

[2021-12-20 14:48] jjfumero commented on #158
I will close this issue. Please, feel free to open new ones for new comments/feedback or bugs.

[2021-12-20 14:48] #158 closed

[2021-12-20 14:51] jjfumero commented on #157
We are closing this issue. Please, feel free to open new issues for more comments/feedback and comments.

[2021-12-20 14:51] #157 closed

[2021-12-20 14:54] jjfumero commented on #151
After we follow the steps with the artifact provided, we are not able to reproduce the problem. We are closing this issue, but if the problem persists, feel free to re-open this issue.

[2021-12-20 15:02] #116 closed

[2021-12-20 20:48] stratika commented on #110
Coming back to this issue, in Step 2, the `OCLTornadoDevice.java` will invoke `enqueueWrite` on an `ObjectBuffer` object ([line 604](https://github.com/beehive-lab/TornadoVM/blob/develop/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java)). The `enqueueWrite()` method that is being invoked is implemented in the OCLArrayWrapper.java class ([line 194](

[2021-12-21 07:21] vsilaev commented on #110
The part you described is about writing header, however in lines 203 and 213 of the [OCLArrayWrapper.java](https://github.com/beehive-lab/TornadoVM/blob/develop/drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java) there are calls to the `writeArrayData` that writes array BODY, and here no endianness is taken on account in subclasses (like `OCLLongArrayWrapp

[2021-12-21 09:44] stratika commented on #149
Thanks @vsilaev, you are right. At this stage, the hashmap `reduceOperandTable` is not utilized. This functionality exists because it is a work-in-progress for future supported cases. For example, support for multiple reductions within the same task. I will close this PR, if you need any clarification, feel free to reopen it.

[2021-12-21 09:44] #149 closed

[2021-12-21 10:09] stratika commented on #110
I tried an experiment with an `int[]` array for the TornadoVM `VectorAddInt` example to understand how the data are organized currently. I initialized the input vector with different integer values:
For example: ```0, 1, 2, 3, ...```

Then I printed the array in byte form from two points:
1. The `enqueueWrite` method in `[OCLCommandQueue.java](https://github.com/beehive-lab/TornadoVM/blob/master/d

[2021-12-21 11:30] vsilaev commented on #110
I'm afraid that this is an unfair experiment - when converting to the byte array in Java, the JDK classes has a context to do a right conversion from LITTELE to BIG endian. The fair test would be to pass 2 direct byte buffers, one in Little and one in Big endian, to the JNI and check whether or not the conversion is applied when data is passed to the JNI level - and I doubt this is true.

[2021-12-21 11:39] stratika commented on #110
I do not understand the word `unfair`. Feel free to conduct such experiment and report your findings.

[2021-12-21 14:44] kotselidis commented on #110
I would like to reset the discussion on this thread. @vsilaev is there any specific device that you use that requires big endian? We have not encountered one or we foresee that we will use in the future. If, as the initial post states, this is just for information, then I propose to close the issue and if a device that we can test becomes available then we can assess it.

[2021-12-21 14:50] vsilaev commented on #110
Ok, agree to close the discussion.
Just the latest hint - arrays in Java are stored in Little Endian, hence all your JNI code that uses direct array addresses works on Little Endian CPU.
The proof (should be added to the example above):
[code]
OUTPUT
[code]
You can see that output matches `Byte buffer, via UNSAFE (LITTLE_ENDIAN)` from the above.

[2021-12-21 15:00] stratika commented on #110
Thanks @vsilaev. I will close this issue.

[2021-12-21 15:00] #110 closed

[2021-12-21 19:43] yazun commented on #151
Added the test in the DPCG test project exposing the issue.

[2021-12-22 05:52] jjfumero commented on #151
Thank you @yazun . We will take a look

[2021-12-24 14:42] vsilaev opened #167 "TornadoException-s do not follow std. Java coding practices"
[TornadoRuntimeException](https://github.com/beehive-lab/TornadoVM/blob/master/tornado-api/src/main/java/uk/ac/manchester/tornado/api/exceptions/TornadoRuntimeException.java), [TornadoUnimplementedException](https://github.com/beehive-lab/TornadoVM/blob/master/runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/exceptions/TornadoUnimplementedException.java), [TornadoTaskRuntimeException]

[2021-12-24 14:46] vsilaev opened #168 "TornadoCoreRuntime.executorThreadFactory is not thread safe"
In current code:
[code]

Field `threadId` is used from concurrent threads (due to the nature of `ThreadFactory` and `ExecutorService`-s that using it). Hence access to this field should be either synchronized or replaced with better atomic type:
[code]

[2021-12-24 14:50] vsilaev opened #169 "Redundant code in TaskMetaData.addProfile"
[TaskMetaData](https://github.com/beehive-lab/TornadoVM/blob/master/runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/TaskMetaData.java) has the following code where `profiles` map is used twice to get same value:
[code]
The simpler version is:
[code]

[2021-12-24 15:24] vsilaev opened #170 "Unconfigured TaskSchedule.getDevice() and TornadoCoreRuntime.getDefaultDevice() are different"
[TornadoCoreRuntime](https://github.com/beehive-lab/TornadoVM/blob/master/runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoCoreRuntime.java)`.getDefaultDevice()` return always default device of the driver 0.

The newly created [TaskSchedule](https://github.com/beehive-lab/TornadoVM/blob/master/tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskSchedule.java) without any per-ta

[2022-01-07 07:53] #86 closed

[2022-01-10 11:25] jjfumero commented on #151
We got the issue. It is now under code review.
Thanks a lot for the report.

[2022-01-10 17:58] gigiblender commented on #67
This is now fixed. I will now close this issue.

[2022-01-10 17:58] #67 closed

[2022-01-11 10:44] jjfumero commented on #151
This bug is already fixed in the `develop` branch: https://github.com/beehive-lab/TornadoVM/commit/1b59371371c01d99790d9694f375d93ecf47595d

[2022-01-11 10:44] #151 closed

[2022-02-14 19:26] Vinhixus opened #176 "Boolean expression with modulo (%) operator throws unimplemented error (emitIntegerTestMove)"
---------------------------------------------------------------------
### Describe the bug
The following code snippet throws an error at:
uk.ac.manchester.tornado.drivers.opencl.graal.compiler.OCLLIRGenerator.emitIntegerTestMove

The test method simply populates an integer array with the following logic:
1 if x and z are even
0 otherwise

### How To Reproduce

`
import uk.ac.manchester.tornado.api

[2022-02-14 19:54] stratika commented on #176
Thanks @Vinhixus. I will have a look to reproduce it and workaround the problem.

[2022-02-18 14:07] stratika commented on #176
Hi @Vinhixus, PR #177 is merged in develop. This should have fixed you problem. Please checkout and let us know if you have further issues. I will close this one.

[2022-03-04 16:09] Vinhixus opened #178 "Support for inverse trigonometric functions"
**Is your feature request related to a problem? Please describe.**
TornadoVM bails out to sequential when using the functions Math.asin(), Math.acos() and Math.atan2().
The TornadoMath class also does not have an equivalent function for these operations.
Please note that Math.atan() and Math.atan2() are two different functions.

**Describe the solution you'd like**
Add support for the functions ab

[2022-03-07 08:20] jjfumero commented on #178
Thank you @Vinhixus.
  This affects all backends? OpenCL, PTX and SPIRV? or just one of the backends?

[2022-03-07 09:43] NicevilleWest opened #179 "Problematic frame: C 0x00007f0f2f6af230"
Thank you for taking the time to submit a bug report. Please fill the following template with your report to help our team to fix and/or propose solutions.

---------------------------------------------------------------------

### Describe the bug
A clear and concise description of what the bug is.
Environment 👍
[code]

[code]

Just running the provided sample "tornado --devices" fails with the f

[2022-03-07 14:55] NicevilleWest commented on #179
Thanks Juan. I tried the link below and got stuck with the following:
# pacman -S mingw-w64-x86_64-make           mingw-w64-x86_64-cmake          mingw-w64-x86_64-gcc            mingw-w64-x86_64-opencl-headers mingw-w64-x86_64-opencl-icd-git python make git
warning: mingw-w64-x86_64-cmake-3.22.3-1 is up to date -- reinstalling
warning: mingw-w64-x86_64-gcc-11.2.0-10 is up to date -- reinstalling
w

[2022-03-07 15:37] jjfumero commented on #178
Update: After a sync call with @Vinhixus , this affects all backends.

@gigiblender, let's focus first on the OpenCL and SPIR-V. Then we will design a strategy for the PTX backend.

[2022-03-08 19:33] jjfumero commented on #179
Can you run this command? It seems there is an update for one of the packages:

[code]

[2022-03-10 14:56] Vinhixus opened #180 "Instantiating Vector types (e.g. VectorFloat4) inside a Tornado task produces wrong results"
Thank you for taking the time to submit a bug report. Please fill the following template with your report to help our team to fix and/or propose solutions.

---------------------------------------------------------------------

### Describe the bug
When instantiating a Vector type inside of a Tornado task, the output from executing the task and a sequential output differs.

### How To Reproduce

T

[2022-03-10 14:59] jjfumero commented on #180
Thank @Vinhixus . We will take a look. As we discussed, the issue is related to the intrinsics vloadN and vstoreN in the TornadoVM JIT compiler for private memory. We will work on it and provide a patch.

[2022-03-11 04:30] NicevilleWest commented on #179
Windows Installation runs into this issue:
error: target not found: mingw-w64-x86_64-opencl-icd-git
    On Monday, 7 March 2022, 11:32:57 CET, Juan Fumero ***@***.***> wrote:

Thank you @NicevilleWest for the report.

It seems you do not have any OpenCL platform available on your system. This might be an issue with drivers/runtimes.
clinfo -a
Number of platforms 0
from windows OpenCL 3.0.1.0 Khron

[2022-03-11 11:19] jjfumero commented on #180
We have a patch for this. This affects the OpenCL and SPIR-V backends. @stratika will open a PR soon.

[2022-03-11 14:23] jjfumero commented on #179
We have updated the documentation. It is not upstream:
https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/20_INSTALL_WINDOWS_WITH_GRAALVM.md

The package was renamed from `mingw-w64-x86_64-opencl-icd-git` to `mingw-w64-x86_64-opencl-icd`

[2022-03-14 03:59] NicevilleWest commented on #179
I built a new workstation just to test this and here is what I got:
# make graal-jdk-11-plus BACKEND=ptx,opencl
./bin/compile.sh graal-jdk-11-plus ptx,opencl
mvn -Popencl-backend,ptx-backend,spirv-backend clean
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for tornado:tornado-runtime:jar:0.13-dev
[WARNING] The expression ${ver

[2022-03-14 10:55] jjfumero commented on #179
Hi @NicevilleWest ,
  I don't follow. Which configuration is not running? On Windows using WSL,  or on Windows without WSL? Can you expand on it?

Also, I can't reproduce the error. I just installed it on Windows 11 using MSYS2 and it works with both OpenCL and PTX.

[2022-03-14 11:05] NicevilleWest commented on #179
On windows without WSL isn't working.

On windows with wsl and ubuntu worked only with ptx.

    On Monday, 14 March 2022, 11:55:42 CET, Juan Fumero ***@***.***> wrote:

Hi @NicevilleWest ,
I don't follow. Which configuration is not running? On Windows using WSL, or on Windows without WSL? Can you expand on it?

Also, I can't reproduce the error. I just installed it on Windows 11 using MSYS2 and i

[2022-03-14 11:15] jjfumero commented on #179
Can you post the env variable you are using?

Also, in case it helps: https://stackoverflow.com/questions/42546110/no-plugin-found-for-prefix-c-in-the-current-project-and-in-the-plugin-groups

[2022-03-14 11:48] NicevilleWest commented on #179
The pom.xml is in the TornadoVM directory that I am running this from.
The env has lots of variables. Anyone specifically that you want to see?

    On Monday, 14 March 2022, 12:15:46 CET, Juan Fumero ***@***.***> wrote:

Can you post the env variable you are using?

Also, in case it helps: https://stackoverflow.com/questions/42546110/no-plugin-found-for-prefix-c-in-the-current-project-and-in-the-

[2022-03-14 11:56] jjfumero commented on #179
I meant the ones related to TornadoVM:

- https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/20_INSTALL_WINDOWS_WITH_GRAALVM.md#1-install-prerequisites
- https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/20_INSTALL_WINDOWS_WITH_GRAALVM.md#5-configure-the-build

[2022-03-15 13:56] jjfumero commented on #178
This is already merged. https://github.com/beehive-lab/TornadoVM/commit/8a3b1e9574654c668de5aee12bf66b66c18142b0

[2022-03-15 13:56] #178 closed

[2022-03-21 08:19] Vinhixus opened #182 "Support for signum function"
**Is your feature request related to a problem? Please describe.**
TornadoVM throws an unimplemented error when using the function Math.signum().

**Describe the solution you'd like**
Add support for the Math.signum() function and potentially implement an equivalent function for the TornadoMath class.

**Describe alternatives you've considered**
N/A

**Additional context**
The issue can be recreat

[2022-03-21 11:30] jjfumero commented on #182
Thank you for the report. We will integrate this.

[2022-03-30 14:45] jjfumero opened #184 "[Feature Request] Support Live Task Migration across backends"
Support Live Task Migration across backends.

Currently, TornadoVM launches an exception when the backend is dynamically switched. Ideally we should be able to run with any backend in any order and dynamically switch across them.

E.g., OpenCL <-> SPIR-V <-> PTX

This is useful for demos such as Ray-Tracer.

[2022-04-13 00:33] NicevilleWest commented on #179
Is this a know issue with Windows version of Tornado?# make graal-jdk-11-plus BACKEND=ptx,opencl
./bin/compile.sh graal-jdk-11-plus ptx,opencl
mvn -Popencl-backend,ptx-backend,spirv-backend clean
[ERROR] Error executing Maven.
[ERROR] The specified user settings file does not exist: C:\Apps\x64\msys2\usr\bin\bash.exe C:\home\versoni\.m2\settings.xml" -Popencl-backend,ptx-backend,spirv-backend clea

[2022-04-13 09:06] stratika commented on #179
Hi @NicevilleWest, this seems to be a problem with `mvn` execution. Is it certain that `mvn` has been installed based on the documentation (Step 1.6 & 1.7)[https://github.com/beehive-lab/TornadoVM/blob/master/assembly/src/docs/20_INSTALL_WINDOWS_WITH_GRAALVM.md#1-install-prerequisites]?

The user settings seem to be missing based on the trace that you shared.

[2022-04-13 13:38] NicevilleWest commented on #179
Thanks. I tested successfully in Ubuntu running in WSL2 (Windows Services for Linux) on Windows 10 Professional. Could run the your published samples but ran into other issues with my own samples.

    On Wednesday, 13 April 2022, 14:16:17 CEST, Thanos Stratikopoulos ***@***.***> wrote:

Not sure what solution is required. Did you check that the settings file is properly configured? I think the gu

[2022-04-19 10:21] stratika commented on #182
A fix for this issue for all TornadoVM backends has been merged in master and develop. Feel free to test it, with the following:
[code]

[code]

One part that was discovered is that the [OpenCL](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/sign.html) and [SPIR-V](https://www.khronos.org/registry/SPIR-V/specs/unified1/OpenCL.ExtendedInstructionSet.100.html#_a_id_math_a_math_extend

[2022-04-19 10:21] #182 closed

[2022-04-22 07:27] jjfumero commented on #179
@NicevilleWest . Is this issue solved? Could you run on Windows?

[2022-04-29 12:35] stratika commented on #184
A fix regarding this issue is currently [merged](https://github.com/beehive-lab/TornadoVM/commit/be27e0efe026cf90ac5c28de4c474fdb3388a8a1). I will close the issue.

[2022-04-29 12:35] #184 closed

[2022-05-27 12:19] stratika commented on #179
Yesterday, I revisited the issue that I had with the installation in Windows 10. In fact, the error that I was getting was related to ```undefined reference for the function clCreateProgramWithIL```. That function is utilized in TornadoVM since that [commit](https://github.com/beehive-lab/TornadoVM/commit/1bf7981c44dfb84050e703a4ef9f6d4b2ff415ea).

**Workaround:** After trying several things, I re

[2022-05-27 12:19] #179 closed

[2022-05-31 11:42] kotselidis opened #185 "Remove support for JDK8"
**Is your feature request related to a problem? Please describe.**
As the project tracks compatibility with the latest releases of the Graal compiler, backwards compatibility becomes harder.
Hence, the proposal aims to remove support for JDK 8 and have as a minimum compatibility with JDK 11.

**Describe the solution you'd like**
Drop compatibility with JDK8 from version 0.14

**Describe alternativ

[2022-06-03 12:33] stratika opened #186 "Unsatisfied version of OpenCL found for versions earlier than 2.1"
### Describe the bug
The current version of TornadoVM requires OpenCL 2.1 version to be installed since it utilizes in the native layer the `clCreateProgramWithIL` function. This function has been added since this [commit](https://github.com/beehive-lab/TornadoVM/commit/1bf7981c44dfb84050e703a4ef9f6d4b2ff415ea) and it is used to pass SPIR-V binaries and execute them through OpenCL.

However, if To

[2022-06-07 13:23] #185 closed

[2022-06-08 14:45] jjfumero commented on #186
I took a look at this. So we import all Khronos OpenCL headers to facilitate the installation of the OpenCL backend. In these headers, we use OpenCL 3.0. The issue is that, as soon as the `clCreateProgramWithIL`, we need to load the `so` dynamic library with this function in it.

Since NVIDIA and Intel support OpenCL 3.0, I suggest that TornadoVM requires at least OpenCL 2.1. For the FPGA builds,

[2022-06-17 02:46] #186 closed

[2022-07-09 13:43] jnorthrup opened #189 "maven install not called during build"
hello.

i am building a project that is not a tornado example.

when i include the tornado example pom deps i do not pull in any deps from .m2 in my java 17 maven projects.

when i look for tornadovm integration docs none of them specify the deps except for the all-encompassing jvm launch options from calling source.sh and the jvm switches option on the bash script .  in this case the vm script is

[2022-07-09 13:50] jnorthrup commented on #189
additional exploration turns up this added challenge to overcome:

[code]

[2022-07-09 14:42] jjfumero commented on #189
I am not sure I follow the real issue here. Once TornadoVM is compiled/installed, all JAR files can be found in the following directory:

`/TornadoVM/bin/sdk/share/java/tornado`

[code]

The annotation package is `tornado-annotation-0.15-dev.jar`.

Additionally, depending on which JVM you are using, you need the Graal JAR files.

[code]

Besides, you need the native library that is built for the i

[2022-07-09 14:43] jjfumero commented on #189
Thanks for the report. This command is only needed for the release (internal use). Currently, every time we do `make`, all dependencies are automatically installed, so there is no need for using this command.

[2022-07-09 14:43] jjfumero commented on #189
As a side note, the following discussion thread might help as well: https://github.com/beehive-lab/TornadoVM/discussions/188

[2022-07-09 17:15] jnorthrup commented on #189
the issue is how to use said directory as maven dependencies outside of
that Tornadovm top level project.  it seems like the makefile avoid
installing, and the tornado switch shown performs as shown, failing to
install maven deps

On Sat, Jul 9, 2022 at 10:42 PM Juan Fumero ***@***.***>
wrote:

[2022-07-09 17:34] jnorthrup commented on #189
unfortunately with a linux system (gentoo) that performs 450+ automated builds in order to present a user login, the same is not happening for tornado's combination of build solutions on this system.

here's a picture of a project I develop using not vim, but intellij.

![image](https://user-images.githubusercontent.com/73514/178116276-88b4a3cb-4baa-472c-8190-d0fd5123c60b.png)

per https://github.

[2022-07-09 17:48] jnorthrup commented on #189
in the proces of copying the examples pom deps into my own project the groupid for tornado references the tornado parent project, something which slipped my attention the first time around.

having said that, and for whatever reason taking failure reports at face value, I am able to locate the installed jarfile now.

[2022-07-09 17:48] #189 closed

[2022-07-10 07:05] jjfumero commented on #189
Thank you for your feedback @jnorthrup . We will take a look at this.

Feel free to open new issues as you encounter more questions, errors, etc.

[2022-07-10 07:37] jjfumero opened #191 "Improve instructions for integration with IntelliJ"
**Is your feature request related to a problem? Please describe.**

TornadoVM lacks of documentation about how to setup client/user applications to compile and run directly within the IDE.
Related issues:
- #189
- #188

**Describe the solution you'd like**

Provide the following instructions for running client/user applications on IntelliJ:

- Compile maven application
- Run TornadoVM applications

[2022-07-13 14:50] jnorthrup opened #194 "dev branch - PTX error 701 and 700 on Irregulars examples"
carried over from https://github.com/beehive-lab/TornadoVM/discussions/120#discussioncomment-3137390

i am running Irregulars example and as linked above the result codes come up `701`

when I change the source code with s/float/double/g and rebuild the error reported changes to 700

also from a fresh reboot just to be sure.

[code]

script is

[code]

source is
[code]
might be related to
https://

[2022-07-20 10:38] jjfumero opened #195 "PTX Backend reporting error code 701 when dispatching cuLaunchKernel on NVIDIA 30XX GPUs"
### Describe the bug

When running with the PTX backend on NVIDIA 30XX GPUs (e.g., 3070), kernel dispatch fails due to error 701.

[code]

Following the NVIDIA documentation, this error means `CUDA_ERROR_LAUNCH_OUT_OF_RESOURCES`

[link](https://developer.download.nvidia.com/compute/DevZone/docs/html/C/doc/html/group__CUDA__TYPES_g0cdead942fd5028d157641eef6bdeeaa.html#gg0cdead942fd5028d157641eef6bd

[2022-07-20 10:39] jjfumero commented on #195
Related issues: #194

[2022-07-20 10:46] jjfumero commented on #194
Thanks for the report @jnorthrup .

Regarding the error during the kernel launch for the PTX Backend, we just open an issue ( #195 ) .We will work on it.

Regarding the OpenCL backend, I do not follow, Is it working for GPU and your examples?

[2022-07-21 13:26] jjfumero commented on #195
Just an update:

After some debugging, we realised this error is due to a bug on new GPUs and drivers in regards to the `cuLaunchKernel` and the parameter list. The size of some parameters is not correct. This used to work (and still works) on GPUs running with drivers <= 510 in the current `develop`, which assumes all values (objects and primitives) as `long` types.

We need to update the logic t

[2022-07-22 12:31] jjfumero opened #197 "Fix the `--threadInfo` option for the OpenCL Backend."
### Describe the bug

While the execution is correct, the debug information associated with the execution is not complete in some cases.

### How To Reproduce

The following program contains 3 kernels. However, only one is printed.

[code]

### Expected behaviour

It should print the information of thread dispatch for all 3 generated kernels, not just one.

### Computing system setup (please compl

[2022-07-22 13:05] jjfumero commented on #195
New update:

We provide a fix for the data types by passing exactly but buffer sizes needed. However, some other applications throw a `CUDA_ERROR_MISALIGNED_ADDRESS` (716) error during `cuEventCreate`. This error can be also reproduced on older GPUs such as 2060 with the 510.46 NVIDIA driver.

As an alternative solution, we propose redesigning how arguments are handled within the TornadoVM runtime

[2022-07-26 14:25] jjfumero commented on #195
Partial fixes for solving this issue have been merged.

[2022-07-26 14:25] #195 closed

[2022-07-26 14:25] jjfumero commented on #197
Issue has been solved

[2022-07-26 14:25] #197 closed

[2022-07-26 14:32] jjfumero commented on #194
The PTX Backend has been fixed to launch the correct parameters with the latest drivers. However, some reductions still report wrong results. We will provide a fix for this.

Meanwhile, the OpenCL backend should work for the same GPUs (30XX) and latets NVIDIA Drivers.

[2022-08-24 13:44] jjfumero opened #202 "Provide tests for the native component of the SPIR-V"
**Describe the solution you'd like**
Tests for the native part of SPIR-V are missing.

From the OpenCL backend we have:

[code]

**Additional context**

These tests are similar to the ones found for OpenCL and the PTX backends to check the JIT compiler and the runtime.

There are also some tests for the native part and the Level Zero runtime system of TornadoVM in the package:
`uk.ac.manchester.to

[2022-08-25 11:54] #202 closed

[2022-08-25 12:56] gjevardat opened #204 "Running unit tests from eclipse on Windows"
Hi

I'am trying to run the TestArrays test provided in your code repo from Eclipse, on Windows.

First I installed everything with opencl and ptx drivers and the benchmarks are running nicely in MINGW64.
Then I created simple maven project with tornado dependencies (0.14), and just copied the test Array tests locally (with required TornadoTestBase and few other Exception classes). It compiles fine

[2022-08-25 12:59] jjfumero commented on #204
Hi @gjevardat
 Thanks for the report.  Are you using also `MINGW64` as a terminal within Eclipse for Windows? I am not sure it is getting the right VM version and/or configuration.  Note that the "Windows" port of TornadoVM is still experimental.

[2022-08-25 13:02] gjevardat commented on #204
Hello thanks for super fast reply :)
No I'am not using MINGw64 terminal within eclipse !
I set the JRE project to graalvm and just added the above flags

[2022-08-25 13:04] jjfumero commented on #204
OK, I do not think this will work, since we have some scripts for Linux to set up config files. If you use Windows, for now, I recommend running applications within the `MINGW64` terminal.

[2022-10-06 08:54] stratika opened #208 "Unit-tests failing on macOS M1 Pro"
### Describe the bug
Currrently in macOS and in particular on MacBooks with Apple M1 Pro, there are several unit-tests failing due to the lack of extensions supported by the drivers.

For example, in my system I see that `clinfo` does not report the extension for double precission support: [cl_khr_fp64](https://registry.khronos.org/OpenCL/sdk/1.0/docs/man/xhtml/cl_khr_fp64.html). This causes many

[2022-10-06 09:16] jjfumero commented on #208
We have a custom exception for this. We should raise this exception. This works for the new Intel GPUs. I wonder why it does not work for OSx. Let's sync when you are back,

[2022-10-06 09:27] stratika commented on #208
oh, I was not aware of that exception. Sure, let's meet next week to sync.

[2022-10-11 09:01] NicevilleWest commented on #179
Thanks for coming back. Still not solved.

    On Friday, 22 April 2022, 09:27:42 CEST, Juan Fumero ***@***.***> wrote:

@NicevilleWest . Is this issue solved? Could you run on Windows?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-11 09:21] NicevilleWest commented on #179
Thanks for the quick response. I checked and the user settings are there. I did them again, including prerequisites and got the same error. The quoted double quotes next to settings.xml for some reason remains there and I can't explain.

    On Wednesday, 13 April 2022, 11:06:45 CEST, Thanos Stratikopoulos ***@***.***> wrote:

Hi @NicevilleWest, this seems to be a problem with mvn execution. Is it

[2022-10-11 09:24] NicevilleWest commented on #179
# env
ProgramFiles(x86)=C:\Program Files (x86)
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
!C:=C:\Windows\System32
SHELL=/usr/bin/bash
NUMBER_OF_PROCESSORS=16
PROCESSOR_LEVEL=6
WD=C:\Apps\x64\msys2\usr\bin\
TERM_PROGRAM_VERSION=3.5.3
MINGW_PREFIX=/mingw64
PKG_CONFIG_PATH=/mingw64/lib/pkgconfig:/mingw64/share/pkgconfig
USERDOMAIN_ROAMINGPROFILE=DESKTOP-ES1CGI0
HOSTNAME=DESKTOP-ES1CG

[2022-10-11 12:55] jjfumero commented on #179
@NicevilleWest , I do not get your question.
Are you trying to use WSL? This is the recommended way at the moment.

[2022-10-11 15:39] jjfumero commented on #179
@NicevilleWest , I just checked the installation process for Windows 11 using the OpenCL and PTX backends on the NVIDIA 3070.

I provided a fix in the `tornado` script (see https://github.com/beehive-lab/TornadoVM/pull/209). Apart from that, it should compile and run.

![tornadoVM-Windows](https://user-images.githubusercontent.com/5602565/195136688-8c2407d2-f834-4e8b-a0bc-4f82c569a52b.png)

This i

[2022-10-12 07:54] jjfumero commented on #194
I finally got some time to look at the pending issues with the reductions. The thread-block was not set correctly. The following PR solves the issue: https://github.com/beehive-lab/TornadoVM/pull/210  This will be merged soon.

Thanks for all the reports.

[2022-10-12 07:58] jjfumero opened #211 "Add instructions and complete files for generating the TornadoVM SDK"
**Describe the solution you'd like**

We would like to add the TornadoVM SDK for future releases. We need to complete the build process to copy/create a few files with all the licenses, and instructions about how to execute TornadoVM programs using the SDK.

This involves:

- Copy all TornadoVM licenses
- Create a README with instructions about how to do the setup
- Create a document that explains